<footer class="footer">
  <div class="grid-container">
    <div class="col-3">
      <p>&#xa9; Pan Studio <?php echo date("Y"); ?></p>
    </div>
    <div class="col-3 right">
      <a class="js-to-top"><%= I18n.t(:to_top) %></a>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>
<script src='//assets.malmo.se/external/v4/masthead_standalone.js'></script>
<script src="/assets/<%= I18n.t(:country_code) %>.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        loop: true,
        prevButton: '.swiper-button-prev',
        spaceBetween: 30,
        autoplay: 10000
    });

    var anotherSwiper = new Swiper('.object-swiper', {
        nextButton: '.button-next',
        prevButton: '.button-prev',
        slidesPerView: 'auto',
        autoplay: 3500,
        loop: true,
        paginationClickable: true,
        spaceBetween: 20,
        breakpoint: {
          760: {
            spaceBetween: 40
          }
        }
    });

    anotherSwiper.on('slideChangeStart', function () {
      var objectCode = $('.swiper-slide-active').attr( "object-code" );
      $('.active-object').text(objectCode);
  });

</script>
