<footer class="footer">
  <div class="grid-container">
    <div class="col-3">
      <p>&#xa9; Pan Studio <?php echo date("Y"); ?></p>
    </div>
    <div class="col-3 right">
      <a class="js-to-top"><%= I18n.t(:to_top) %></a>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>
<script src="/assets/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoidGR3Y2tzIiwiYSI6IlhwMGlGR28ifQ.irq5Rbn1WvGb_VIwn1auNA';
var start = [-0.1477, 51.5797];
var end = [-0.1337, 51.5797];
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/dark-v9',
zoom: 2 // starting zoom
});
var geojson = {
  type: 'FeatureCollection',
  features: [{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-2.7, 51.4545]
    },
    properties: {
      title: 'bristol',
      link: 'http://www.hellolamppost.co.uk/',
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-0.1278, 51.5074]
    },
    properties: {
      title: 'qeop',
      link: 'http://hellolamppostlondon.com'
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [103.8198, 1.3521]
    },
    properties: {
      title: 'singapore',
      link: 'http://hellolamppostsingapore.com'
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-122.414, 37.776]
    },
    properties: {
      title: 'tokyo',
      link: 'http://www.hellolamppost.tokyo/en/'
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-122.414, 37.776]
    },
    properties: {
      title: 'austin',
      link: 'http://hellolamppostaustin.com'
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-122.414, 37.776]
    },
    properties: {
      title: 'brighton',
      link: 'http://hellolamppostbrighton.com'
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [0.5792, 44.8378]
    },
    properties: {
      title: 'bordeaux',
      link: 'http://www.hellolamppostbordeaux.com/en/'
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-122.414, 37.776]
    },
    properties: {
      title: 'malmo',
      link: 'http://www.hellosustainablemalmo.se'
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-122.414, 37.776]
    },
    properties: {
      title: 'malmo',
      link: 'http://www.salemastana2017.kz/en/'
    }
  }]
};

geojson.features.forEach(function(marker) {
  // create a HTML element for each feature
  var el = document.createElement('a');

  el.className = 'marker';
  el.id = marker.properties.title;
  el.href = marker.properties.link;
  el.target = '_blank';

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
  .setLngLat(marker.geometry.coordinates)
  .addTo(map);
});
map.scrollZoom.disable();
</script>
<script>
    var swiper = new Swiper('.swiper-container', {
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        loop: true,
        prevButton: '.swiper-button-prev',
        spaceBetween: 30,
        autoplay: 10000
    });

    var anotherSwiper = new Swiper('.object-swiper', {
        nextButton: '.button-next',
        prevButton: '.button-prev',
        slidesPerView: 'auto',
        autoplay: 3500,
        loop: true,
        paginationClickable: true,
        spaceBetween: 20,
        breakpoint: {
          760: {
            spaceBetween: 40
          }
        }
    });

      var headerSwiper = new Swiper('.header-swiper', {
        pagination: {
          el: '.swiper-pagination',
        },
      });

    anotherSwiper.on('slideChangeStart', function () {
      var objectCode = $('.swiper-slide-active').attr( "object-code" );
      $('.active-object').text(objectCode);
  });

</script>
