<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <!--Burger menu for mobile-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/"><img src="/images/logo.svg"/></a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#about">About</a></li>
        <li><a href="/#process">How It Works</a></li>
        <li><a href="/#use-cases">Our Partners</a></li>
        <li><a href="/#location">Locations</a></li>
        <li><a href="/#contact">Contact</a></li>

        <!--Social media icons-->
        <li><a href="https://www.facebook.com/Hello-Lamp-Post-171475660169073/" target="_blank" class="fa fa-facebook"></a></li>
        <li><a href="https://www.instagram.com/hellolamppost_/" target="_blank" class="fa fa-instagram"></a></li>
        <li><a href="https://twitter.com/hellolamppost_" target="_blank" class="fa fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/company/hello-lamp-post/" target="_blank" class="fa fa-linkedin"></a></li>
      </ul>
    </div>
  </div>
</nav>
