<header class="header">
	<div class="grid-container">
		<a href="#" class="logo"><img src="/images/logo.svg"/></a>
		<!-- <nav class="country-picker">
			<ul>
				<li><a class="sv" href="/sv/"></a></li>
				<li><a class="en" href="/en/"></a></li>
			</ul>
		</nav> -->
		<a class="hamburger"></a>
		<nav class="menu">
			<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#how-it-works">How It Works</a></li>
				<li><a href="#locations">Locations</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="/news">News</a></li>
			</ul>
		</nav>

	</div>
</header>
