<nav id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">

      <!--Burger menu for Mobile-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a href="/" class="logo"><img src="/images/logo.svg"/></a>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>
        <li><a href="#process">How It Works</a></li>
        <li><a href="#use-cases">Our Role</a></li>
        <li><a href="#location">Locations</a></li>
        <li><a href="#contact">Contact</a></li>

        <!--social media icons-->
        <li><a href="https://www.facebook.com/Hello-Lamp-Post-171475660169073/" target="_blank" class="fa fa-facebook"></a></li>
        <li><a href="https://www.instagram.com/hellolamppost_/" target="_blank" class="fa fa-instagram"></a></li>
        <li><a href="https://twitter.com/hellolamppost_" target="_blank" class="fa fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/company/hello-lamp-post/" target="_blank" class="fa fa-linkedin"></a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Landing Page-->
<section id="hero" class="container-fluid">
  <div class="grid-container">
    <div class="row">
      <div class="col-4">
        <h1>The playful, city-wide system that lets you talk to street objects.</h1>
           <a href="/projects" class="link-btn-one" role="button">Deploy to your city</a>
      </div>
      <div class="col-8">
        <div class="header-swiper">
  			     <div class="swiper-wrapper">
  				         <div class="swiper-slide austin-lampost">
                      <img src="/images/header-image-1.jpg" />
  					                   <div class="bubble-holder">
  						                        <div class="text-bubble">
  							                           <p>Hello Lamp Post #321</p>
  						                        </div>
                            					<div class="text-bubble object">
                            						   <p>Good afternoon! Can you answer a question - what would be your super power and why?</p>
                            					</div>
                          						<div class="text-bubble">
                          							   <p>Photosynthesis, so that eating would be purely for pleasure!</p>
                          						</div>
  					                  </div>
  				         </div>
              			<div class="swiper-slide"></div>
              			<div class="swiper-slide"></div>
              			<div class="swiper-slide"></div>
  			    </div>
      	<!-- Add Pagination -->
  			    <div class="swiper-pagination"></div>
        </div>
      </div>
    </div><!--row-->
  </div><!--grid container-->
</section>

<!--About Hello Lamp Post-->
<section id="about" class="container-fluid">
  <div class="col-4">
    <!--<img src="/images/bg-how-it-works.jpg" alt="boy looking at lamp post">-->
  </div>
  <div class="col-6">
      <div class="grid-container">
        <hr>
        <h2>About</h2>
        <h1>What is Hello Lamp Post?</h1>
        <p>We are a playful platform with a flexible and scalable system, inviting people to strike up conversations with familiar street objects using text messages or Facebook Messenger, encouraging people to look at the city with fresh eyes and see it as a playground. </p>
        <p>By using the thousands of pre-existing identifier codes that label items of street objects across a whole city, people can have interesting, surprising and often funny conversations with particular objects, including (but not limited to) lamp posts, post boxes, bollards, manholes, bins or telegraph poles. </p>
        <a href="#process" class="link-btn-one" role="button">How It Works</a>
      </div>
    </div>
</section>


<!--How it works-->
<section id="process" class="container-fluid">
  <div class="grid-container">
    <hr>
    <h2>How It Works</h2>

    <div class="row text-center slideanim">
      <div class="col-4">
        <div class="process-item">
          <div class="image-circle">
            <img src="/images/process-1.svg" class="img-image-circle image-circle" height="200" width="200" alt="Avatar">
          </div>
        <h3><%= I18n.t(:pick_an_object) %></h3>
        <p>Look out for a street object.</p>
        </div>
      </div>

      <div class="col-4">
        <div class="process-item">
          <div class="image-circle">
            <img src="/images/process-2.svg" class="img-circle image-circle" height="200" width="200" alt="Avatar">
          </div>
        <h3><%= I18n.t(:say_hello) %></h3>
        <p>Send a text in this format: “Hello” + Object Name + #Code e.g. “Hello Bin #B6291”..</p>
        </div>
      </div>

      <div class="col-4">
        <div class="process-item">
          <div class="image-circle">
            <img src="/images/process-3.svg" class="img-circle image-circle" height="200" width="200" alt="Avatar">
          </div>
        <h3><%= I18n.t(:keep_talking) %></h3>
        <p><%= I18n.t(:keep_talking_text) %></p>
        </div>
      </div>

    </div><!--row-->
  </div><!--grid-container-->
</section>


<!--Use Cases-->
<section id="use-cases" class="container-fluid">
  <div class="grid-container">
    <hr>
    <h2>Our Role in Cities</h2>
    <div class="row text-center slideanim">
      <div class="col-3">
        <div class="image-circle">
            <img src="/images/group.png"  alt="Avatar">
        </div>
        <h3>Community Engagement</h3>
        <ul>
           <li>Feedback loop between cities and citizens</li>
           <li>Engagement and collaborative ideation of community priorities</li>
           <li>Promotion of local events, activities and services</li>
           <li>Empowering voices of local communities and individuals</li>
        </ul>
      </div>

      <div class="col-3">
        <div class="image-circle">
          <img src="/images/map.png"  alt="Avatar">
        </div>
        <h3>Way-finding & Storytelling</h3>
        <ul>
           <li>Adding playful layers to urban spaces</li>
           <li>Creation of interactive reference points</li>
           <li>City way-finding and informative exploring</li>
           <li>Engagement tool for specific campaigns and initiatives</li>
        </ul>
      </div>

      <div class="col-3">
        <div class="image-circle">
          <img src="/images/buildings.png"  alt="Avatar">
        </div>
        <h3>Urban Planning Engagement</h3>
        <ul>
          <li>Co-creation of urban planning and inclusive social spaces</li>
          <li>Gathering continuous feedback on the planning process</li>
          <li>Creating transparent and human-centric cities</li>
          <li>Engagement and consultation around smart city initiatives</li>
        </ul>
      </div>

      <div class="col-3">
        <div class="image-circle">
          <img src="/images/destination.png"  alt="Avatar">
        </div>
        <h3>Culture & Tourism</h3>
        <ul>
          <li>Story sharing between visitors, citizens and cultural hubs</li>
          <li>Educate and strengthen cities cultural narratives</li>
          <li>Encouring visitors to discover local stories and landmarks, while bringing them to life</li>
          <li>Personalised and shareable experience of a cities past and future</li>
        </ul>
      </div>
    </div><!--row-->
    <a href="/projects" class="link-btn-one" role="button">Our Projects</a>
  </div><!--grid-container-->
</section>


<!--Press Section-->
<section id="press" class="col-12">
    <div class="slider">
      <div class="track">
        <div class="slide-img">
          <a href="https://www.huffingtonpost.co.uk/2014/12/02/urban-city-innovative-design-lamp-posts-talking-street-lights_n_6252628.html?utm_hp_ref=uk-hello-lamp-post" target="_blank">
            <img class="first" src="/images/press/huffpost-logo.png" alt="huffpost logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.forbes.com/sites/hesterlacey/2014/08/26/discover-the-playable-city-the-happy-face-of-the-urban-environment/#604107dd24f9" target="_blank">
            <img src="/images/press/forbes.png" alt="forbes logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.bbc.co.uk/news/av/uk-england-23337527/city-street-furniture-invites-texts" target="_blank">
            <img src="/images/press/bbc-logo.png" alt="bbc logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.timeout.com/london/blog/talking-lamp-posts-are-coming-to-the-olympic-park-110816" target="_blank">
            <img src="/images/press/time-out.png" alt="time-out logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="http://www.fox7austin.com/archive/art-project-lets-people-converse-with-street-furniture" target="_blank">
            <img src="/images/press/fox-logo.png" alt="fox logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.dailymail.co.uk/sciencetech/article-2345212/Meet-lamp-posts-bus-stops-mind-Company-uses-new-technology-make-city-centre-landmarks-come-alive-chat-people.html" target="_blank">
            <img src="/images/press/daily-logo.png" alt="daily logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.theguardian.com/technology/gamesblog/2013/jun/27/hello-lamp-post-playful-cities" target="_blank">
            <img src="/images/press/guardian-logo.png" alt="guardian logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.wired.com/2013/01/hello-lamp-post/" target="_blank">
            <img src="/images/press/wired-logo.png" alt="wired logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.telegraph.co.uk/culture/art/art-news/9821570/30000-for-texting-bollards.html" target="_blank">
            <img src="/images/press/the-telegraph.png" alt="the telegraph logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.fastcompany.com/3017191/internet-of-things-project-hello-lamppost-ends-with-a-cacophonous-conversation" target="_blank">
            <img src="/images/press/fast-company.png" alt="fast-company logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.huffingtonpost.co.uk/2014/12/02/urban-city-innovative-design-lamp-posts-talking-street-lights_n_6252628.html?utm_hp_ref=uk-hello-lamp-post" target="_blank">
            <img class="first" src="/images/press/huffpost-logo.png" alt="huffpost logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.forbes.com/sites/hesterlacey/2014/08/26/discover-the-playable-city-the-happy-face-of-the-urban-environment/#604107dd24f9" target="_blank">
            <img src="/images/press/forbes.png" alt="forbes logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.bbc.co.uk/news/av/uk-england-23337527/city-street-furniture-invites-texts" target="_blank">
            <img src="/images/press/bbc-logo.png" alt="bbc logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.timeout.com/london/blog/talking-lamp-posts-are-coming-to-the-olympic-park-110816" target="_blank">
            <img src="/images/press/time-out.png" alt="time-out logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="http://www.fox7austin.com/archive/art-project-lets-people-converse-with-street-furniture" target="_blank">
            <img src="/images/press/fox-logo.png" alt="fox logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.dailymail.co.uk/sciencetech/article-2345212/Meet-lamp-posts-bus-stops-mind-Company-uses-new-technology-make-city-centre-landmarks-come-alive-chat-people.html" target="_blank">
            <img src="/images/press/daily-logo.png" alt="daily logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.theguardian.com/technology/gamesblog/2013/jun/27/hello-lamp-post-playful-cities" target="_blank">
            <img src="/images/press/guardian-logo.png" alt="guardian logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.wired.com/2013/01/hello-lamp-post/" target="_blank">
            <img src="/images/press/wired-logo.png" alt="wired logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.telegraph.co.uk/culture/art/art-news/9821570/30000-for-texting-bollards.html" target="_blank">
            <img src="/images/press/the-telegraph.png" alt="the telegraph logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.fastcompany.com/3017191/internet-of-things-project-hello-lamppost-ends-with-a-cacophonous-conversation" target="_blank">
            <img src="/images/press/fast-company.png" alt="fast-company logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.huffingtonpost.co.uk/2014/12/02/urban-city-innovative-design-lamp-posts-talking-street-lights_n_6252628.html?utm_hp_ref=uk-hello-lamp-post" target="_blank">
            <img class="first" src="/images/press/huffpost-logo.png" alt="huffpost logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.forbes.com/sites/hesterlacey/2014/08/26/discover-the-playable-city-the-happy-face-of-the-urban-environment/#604107dd24f9" target="_blank">
            <img src="/images/press/forbes.png" alt="forbes logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.bbc.co.uk/news/av/uk-england-23337527/city-street-furniture-invites-texts" target="_blank">
            <img src="/images/press/bbc-logo.png" alt="bbc logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.timeout.com/london/blog/talking-lamp-posts-are-coming-to-the-olympic-park-110816" target="_blank">
            <img src="/images/press/time-out.png" alt="time-out logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="http://www.fox7austin.com/archive/art-project-lets-people-converse-with-street-furniture" target="_blank">
            <img src="/images/press/fox-logo.png" alt="fox logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.dailymail.co.uk/sciencetech/article-2345212/Meet-lamp-posts-bus-stops-mind-Company-uses-new-technology-make-city-centre-landmarks-come-alive-chat-people.html" target="_blank">
            <img src="/images/press/daily-logo.png" alt="daily logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.theguardian.com/technology/gamesblog/2013/jun/27/hello-lamp-post-playful-cities" target="_blank">
            <img src="/images/press/guardian-logo.png" alt="guardian logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.wired.com/2013/01/hello-lamp-post/" target="_blank">
            <img src="/images/press/wired-logo.png" alt="wired logo">
          </a>
        </div>
        <div class="slide-img">
          <a href="https://www.telegraph.co.uk/culture/art/art-news/9821570/30000-for-texting-bollards.html" target="_blank">
            <img src="/images/press/the-telegraph.png" alt="the telegraph logo">
          </a>
        </div>
      </div>
    </div>
</section>


<!--LDN-LAB article-->
<section id="ldnlab" class="container-fluid">
  <div class="grid-container">
    <div class="col-3">
      <hr>
      <h2>Recently Featured On:</h2>
      <p>Excited and proud to be apart of Facebook's incubator programme LDN_LAB: Deep Tech for Good cohort!</p>
    </div>
    <div class="col-6">
      <img src="/images/press/ldn-lab-white.jpg" alt="LDN_LAB logo" />
    </div>
  </div>
</section>


<!--Locations-->
<section id="location" class="container-fluid locations">
  <div id="map"></div>
  <div class="grid-container">
    <div class="col-4">
      <hr>
        <h5>Locations</h5>
        <p>Street objects have been waking up in cities around the world, engaging residents, tourists and communities.</p>
        <a href="#contact" class="link-btn-one js-contact">Get In Touch</a>
    </div>
 </div>
</section>


<!--Contact-->
<section id="contact" class="container-fluid">
  <div class="grid-container">
    <div class="col-3">
      <hr>
      <h2>Contact</h2>
      <h1>Get In Touch</h1>
      <p>We are always happy to hear from you whether you’re looking for more info or to collaborate with us. Don't hesitate to drop us a message!</p>
      <!-- <p>We're hiring! Click <a href="/careers">here</a> to view our openings and learn more about us.</p> -->
      <a class="link-btn-one" href="mailto:contact@hlp.city?Subject=Hello%20Lamp%20Post%20Enquiry">Email Us</a>
    </div>
    <div class="col-6">
      <form class="contact-form" action="/contact" method="post">
            <fieldset>
                   <label for="name">Name:</label>
                   <input type="text" name="name" placeholder="Example Name">
            </fieldset>

            <fieldset>
                   <label for="email">Email Address:</label>
                   <input type="email" name="email" placeholder="Example@Domain.co.uk">
            </fieldset>

                   <label for="subject">Subject:</label>
                   <select name="subject" form="subject-form">
                      <option selected value="I am interested in Hello Lamp Post for my city">I am interested in Hello Lamp Post for my city.</option>
                      <option value="I have a question about Hello Lamp Post">I have a general question about Hello Lamp Post.</option>
                      <option value="I am interested in collaborating with Hello Lamp Post">I am interested in collaborating with Hello Lamp Post.</option>
                      <option value="Other">Other.</option>
                  </select>

                  <label for="message">Your Message:</label>
                  <textarea name="message" cols='30' placeholder="Hello Lamp Post..." rows="10"></textarea><br>
                  <input type="submit" class="btn" value="Submit">
                  <!-- Google Captcha, needs back-end configuring -->
                  <!-- <div class="g-recaptcha" data-sitekey="6Le09lUUAAAAAO5j54Yj3oI6GTEgbpfiBJf7AbXp"></div> -->
      </form>
    </div>
  </div>
</section>

<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("nav").style.top = "0";
  } else {
    document.getElementById("nav").style.top = "-150px";
  }
  prevScrollpos = currentScrollPos;
}
</script>
