<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1", user-scalable=no>
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" href="http://www.hellolamppostaustin.com/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon-32.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Lamp Post</title>
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="http://hlp.city" />
    <meta property="og:title" content="Hello Lamp Post" />
    <meta property="og:description" content="The playful, city-wise system that lets you talk to street furniture." />
    <meta property="og:image" content="http://hlp.city/images/header-image-1.jpg" />
    <meta name="author" content="Hello Lamp Post" />
    <meta name="description" content="The playful, city-wise system that lets you talk to street furniture." />
    <meta name="keywords"  content="city, playful, sms, fun, street furniture, text" />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />

  </head>
  <body class="mf-v4 <%= I18n.t(:country_code) %>">

    <%= erb :_header %>

    <%= yield %>

    <%= erb :_footer %>

  </body>
</html>
