<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1", user-scalable=no>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <!-- Meta Tags -->
    <title>Hello Lamp Post</title>
    <meta name="author" content="Hello Lamp Post" />
    <meta name="description" content="The playful, city-wise system that lets you talk to street furniture." />
    <meta name="keywords"  content="city, playful, SMS, Facebook Messenger, interactive, fun, street furniture, text" />

    <!-- Icons -->
    <link rel="icon" href="/images/favicon.svg" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/touch-icon.png">

    <!--
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    -->

    <!-- Sharing -->
    <meta property="og:title" content="Hello Lamp Post">
    <meta property="og:description" content="The playful, city-wide system that lets you talk to street furniture.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.hellolamppost.co.uk/">
    <meta property="og:image" content="images/og-image.jpg">

    <meta name="twitter:card" content="summary" />

    <!-- Styles -->
    <link rel="stylesheet" href="/assets/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109707231-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109707231-1');
    </script>

    <!-- MapBox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body class="mf-v4 <%= I18n.t(:country_code) %>">

    <%= erb :_header %>

    <%= yield %>

    <%= erb :_footer %>

  </body>
</html>
