<article class="homepage">
  <% if flash.has?(:ok) %>
  <section id="notification" class="notification">
    <div class="grid-container">
      <h3><%= flash[:ok] %></h3>
      <div class="link-exit"></div>
    </div>
  </section>
  <% end %>
    <section id="news" class="information">
      <img src="/images/bg-news.jpg">
      <div class="right-block"></div>
      <div class="grid-container">
        <div class="col-6 right">
          <h5>News</h5>
          <h1>Announcing...</h1>
          <p class="news-date">27/03/2018</p>
          <p>In April 2018, "Salem Astana 2017" will be officially rebranded as purely "Hello Lamp Post”. This change will include an update to our system content, marketing collateral and changes on all related social media pages.</p>

          <p>Our current partners and stakeholders are onboard with this update and understand that it makes sense for Hello Lamp Post’s direction as a product and service.</p>
        </div>
      </div>
    </section>
  </article>
