<article class="homepage">
	<% if flash.has?(:ok) %>
	<section id="notification" class="notification">
		<div class="grid-container">
			<h3><%= flash[:ok] %></h3>
			<div class="link-exit"></div>
		</div>
	</section>
	<% end %>
	<section id="news" class="information">
		<img src="/images/bg-news.jpg">
		<div class="right-block"></div>
		<div class="grid-container">
			<div class="col-6 right">
				<h5>News</h5>
				<h1>Goodbye "SalemAstana2017", Hello "Hello Lamp Post"</h1>
				<p class="news-date">27/03/2018</p>
				<p>From April 2018, we will be rebranding "Salem Astana 2017" and associated social channels as "Hello Lamp Post". This marks an initial effort for us in consolidating our various brands, as we establish Hello Lamp Post as a Limited Liability organisation. </p>

				<p>If you'd like any further information, please contact us at: <a href="mailto:contact@panstudio.co.uk">contact@panstudio.co.uk</a></p>
			</div>
		</div>
	</section>
</article>