<header id="header">
	<!-- <div class="grid-container"> -->
		<a href="/" class="logo"><img src="/images/logo.svg"/></a>
		<!-- <nav class="country-picker">
			<ul>
				<li><a class="sv" href="/sv/"></a></li>
				<li><a class="en" href="/en/"></a></li>
			</ul>
		</nav> -->
		<a class="hamburger"></a>
		<nav class="menu">
			<ul>
				<li><a href="/#about">About</a></li>
				<li><a href="/#how-it-works">How It Works</a></li>
        <li><a href="/#usecases">Our Role</a></li>
				<li><a href="/#locations">Locations</a></li>
				<li><a href="/#contact">Contact</a></li>
				<li class="menu-logo"><a href="https://www.facebook.com/Hello-Lamp-Post-171475660169073/" target="_blank"><img src="/images/facebook.svg"></a></li>
				<li class="menu-logo"><a href="https://www.instagram.com/hellolamppost_" target="_blank"><img src="/images/instagram.svg"></a></li>
				<li class="menu-logo"><a href="https://www.twitter.com/hellolamppost_" target="_blank"><img src="/images/twitter.svg"></a></li>
				<li class="menu-logo"><a href="https://www.linkedin.com/company/hello-lamp-post/" target="_blank"><img src="/images/linkedin.svg"></a></li>
			</ul>
		</nav>
	<!-- </div> -->
</header>

<article class="homepage">
	<% if flash.has?(:ok) %>
	<section id="notification" class="notification">
		<div class="grid-container">
			<h3><%= flash[:ok] %></h3>
			<div class="link-exit"></div>
		</div>
	</section>
	<% end %>
	<section id="legal" class="content">
		<div class="grid-container">
			<div class="col-6">
				<div class="links">
					<p><a href="/terms">Terms & Conditions</a> | <a href="/privacy">Privacy Policy</a> | <a href="/privacystatement">Privacy Statement</a></p>
				</div>
				<h1>Privacy Statement</h1>
				<h5>Updated: 24th May 2018</h5>
				<p>We take every step possible to protect your data, and we only store data of yours that is essential to providing our services. This privacy notice describes how we collect and use personal information about you during and after your relationship with us, in accordance with data protection law. For a more detailed overview please review our <a href="/privacy">Privacy Policy</a>.</p>

				<h5>Hello Lamp Post Platform</h5>
				<p>Hello Lamp Post is a conversation system that shares messages anonymously from one user to another via objects in the real world. To deliver that service we need to temporarily store a method of contact for you - typically a phone number, an email or Facebook id. That personal data is stored in a securely hashed database run by Heroku whose privacy policy you can read here: <a href="https://www.salesforce.com/company/privacy/">Heroku</a>. We delete this data 3 months after the end of the project.</p>

				<p>We also anonymise and store the messages you send us, and the code of the object you interact with. This anonymised data is shared with other players, published on our website, shared with local stakeholders and used to create nice looking graphics. Though this data is not personally identifiable and we moderate to help ensure that, we do encourage you to take care with sensitive information as the responses you share may be seen by the public.</p>

				<h5>Newsletter</h5>
				<p>We run an occasional newsletter through Mailchimp whose terms of service can be found <a href="https://mailchimp.com/legal/privacy/?_ga=2.17738672.848613074.1526994456-1544911052.1525259333">here</a>. To deliver this we just require your email address and you will explicitly need to opt in. We will only contact you via the newsletter where you have expressly consented for us to do so and you can unsubscribe at any time through selecting the relevant unsubscribe option in the message itself.</p>

				<h5>Service specific communication</h5>
				<p>Please note that whilst a version of Hello Lamp Post is live and for up to 3 months after, we may still contact you with non-marketing information including service updates, important account information and changes to our data policy.</p>
			</div>

			<div class="col-6 pushed-column">
				<h5>Website</h5>
				<p>We track engagement on our website using a few cookies stored by Google Analytics. You can block or delete these from your computer at anytime. You can find the Google Analytics privacy policy <a href="https://support.google.com/analytics/answer/6004245?hl=en">here</a>.</p>

				<h5>Aggregated Data</h5>
				<p>We collect, use and share aggregated data. For example, we may collect and share aggregated data about responses to specific questions or in specific parts of town. Aggregated data may be derived from your personal data but is not considered personal data in law as this data does not directly or indirectly reveal your identity. However, if we combine or connect aggregated data with your personal data so that it can directly or indirectly identify you, we treat the combined data as personal data which will be used in accordance with this privacy notice.</p>

				<h5>Special Data</h5>
				<p>We do not collect any Special Categories of Personal Data about you (this includes details about your race or ethnicity, religious or philosophical beliefs, sex life, sexual orientation, political opinions, trade union membership, information about your health and genetic and biometric data). Nor do we collect any information about criminal convictions and offences.</p>

				<h5>How your data is used</h5>
				<p>Your personal data is collected to provide services to you. We only collect the data we need, and only keep it as long as is necessary. We only use your data to provide these services, and only share it with 3rd parties when required in the ongoing provision of these services.</p>

				<h5>Your rights</h5>
				<p>If you ever wish to review, verify, correct or request erasure of the personal information we store on you or object to the processing of your personal information, you can email us at: <a href="mailto:data@hellolamppost.co.uk">data@hellolamppost.co.uk</a></p>
			</div>
		</div>
	</section>
</article>
