<article class="homepage">
	<% if flash.has?(:ok) %>
	<section id="notification" class="notification">
		<div class="grid-container">
			<h3><%= flash[:ok] %></h3>
			<div class="link-exit"></div>
		</div>
	</section>
	<% end %>
	<section id="legal" class="content">
		<div class="grid-container">
			<div class="col-sm-6">
				<div class="links">
					<p><a href="/terms">Terms & Conditions</a> | <a href="/privacy">Privacy Policy</a> | <a href="/privacystatement">Privacy Statement</a></p>
				</div>

        <h1>Privacy Policy</h1>
				    <p>This website, located at hellolamppost.co.uk, is operated by PAN STUDIO LIMITED (registered in England with registration number 8015714 whose registered office is at PAN Studio Limited, First Floor, Vintage Yard, 59-63 Bermondsey Street, London SE1 3XF</p>
				        <p>Codes can be found around the city that are normally used to identify public objects for maintenance and monitoring. With Hello Lamp Post we use these codes as identifiers in a city wide network of objects. These codes allow you to either ‘wake up’ a sleeping object or learn what other people have been saying to one that is already awake. Each exchange will last for a few messages and you will be encouraged to come back and talk to the object some more another day. The more you play, the more the hidden life of the city will be revealed. Objects might even start to get attached to you if you talk to them a lot. The only information we share is the responses you give to objects. These can be thought of as public conversations, comparable with those on twitter. They may be shown via sms or on the website or occasionally anonymously in print. <strong>We will never show your name, phone number or any other data about you.</strong></p>
				            <p>This Privacy Policy tells you how we will use information provided by you or collected about you when you use the Site, HELLO LAMP POST! and otherwise as part of your membership. </p>
				                <p>Please read this Privacy Policy carefully as it is a legally binding agreement and contain important information on your legal rights and obligations. </p>
				                    <p>By using our Site or HELLO LAMP POST!, you indicate that you accept this Privacy Policy and that you agree to abide by it. If you do not agree to this Privacy Policy, please do not use our Site or HELLO LAMP POST!.  </p>
				                        <p>Expressions used but not defined in this Privacy Policy will have the meanings set out in the Terms located at <a href="/terms">hellolamppost.co.uk/terms</a> of which this Privacy Policy forms a part. If you have any questions about this Privacy Policy please contact us at <a href="mailto:hellolamppost@panstudio.co.uk">hellolamppost@panstudio.co.uk</a>. </p>

				<h5>Changes to this Privacy Policy</h5>
				    <p>We may revise and update this Privacy Policy at any time and will indicate at the top of this page when this Privacy Policy was last revised. Please periodically review the Privacy Policy, as your continued use of this Site and/or HELLO LAMP POST! indicates your agreement with any changes that we make.</p>


        <h5>We respect your privacy</h5>
				    <p>The protection of your privacy in the processing of your personal information is an important concern to us and any personal information collected during visits to the Site or use of HELLO LAMP POST! is processed by us according to the legal provisions of applicable data privacy and data protection legislation. </p>
				        <p>This Privacy Policy describes when and how personal information relating to you will be used. </p>

				<h5>Collection of your information and acceptance by you</h5>
				    <p>We collect certain personal information about you when you visit the Site and use HELLO LAMP POST!. The sections below explain how we will use your personal information in these circumstances.</p>
				        <p>When you are a visitor to the Site and/or use HELLO LAMP POST we will track your use of the Site and HELLO LAMP POST by using cookies (please see the section entitled &#39;Cookies&#39; below).</p>
				            <p>By submitting your personal information to the Site and by using the Site and/or HELLO LAMP POST!, you are agreeing to the processing of your information by us in accordance with this Privacy Policy.  </p>

				<h5>Use and storage of your information</h5>
				    <p>When you supply any personal information to us, we have legal obligations towards you in the way we deal with that information. We must collect the information fairly, that is, we must explain how we will use it. This Privacy Policy explains how we will use your personal information. </p>
				        <p>We may use the personal information you provide to us via the Site and/or as part of HELLO LAMP POST only for the purposes of:</p>

  				<ul>
  					<li> hosting and administering the site;</li>
  					<li> providing you with the information your request from us and keeping a record of the information with which you have been provided;</li>
  					<li> asking you to participate in surveys and feedback relating to the Site and HELLO LAMP POST! and for processing and analysing the results of that survey or feedback internally;</li>
  					<li> sending you our newsletter or other mailings you choose to receive; </li>
  					<li> where you have indicated your acceptance, providing you with information about any services we provide that we believe may be of interest to you;</li>
  					<li> for other purposes clearly stated on the page or other method in which you provide your information to us; and</li>
  					<li> as necessary for you to enjoy the benefits associated with use of the Site and HELLO LAMP POST!.</li>
  				</ul>
			</div>

			<div class="col-sm-6 pushed-column">

				<h5>Sharing of your information</h5>
				    <p>We may share your personal information with third parties in the following ways: </p>

      				<ul>
      					<li> We may use third parties to process personal information on our behalf. (For example, we may use a third party to provide Site and/or HELLO LAMP POST! hosting services or to facilitate the provision of information to you or to provide services on our behalf). Where these third parties process your personal information on our behalf, we will ensure that they have adequate security measures in place and are governed by our privacy policies in respect of the use of your personal information. </li>
      					<li> We will release your personal information when we are required to do so for legal or regulatory purposes or as part of legal proceedings. </li>
      					<li> We will release your personal information to others when you have given your consent to that release.</li>
      					<li> In some circumstances we may transfer your personal information to countries outside of the European Economic Area, where data protection safeguards are not as high as they are in the UK. If this occurs we will ensure that adequate measures are taken to protect your personal information.</li>
      				</ul>

				<h5>Other disclosures of your personal information</h5>
				    <p>We may disclose your personal details where we are required to do so under a subpoena or court order, or following any other request (including criminal and civil matters) if we believe that the response is required by law or is reasonably necessary to protect the values and objectives of the Site, HELLO LAMP POST! or other users. </p>

				<h5>Changing or removing personal information</h5>
				    <p>You can change or remove the personal information we hold about you by notifying us at <a href="mailto:hellolamppost@panstudio.co.uk">hellolamppost@panstudio.co.uk</a></p>
				        <p>Following receipt of your request we will endeavour to update or remove your personal information as soon as practicable, but we will not be able to do so immediately following your request.  </p>

				<h5>Cookies</h5>
				    <p><strong>What is a cookie?</strong></p>
		           <p>A cookie is a small text file that is downloaded onto your computer when you visit certain websites and allows a website to recognise a user&#39;s computer or other device. Cookies are used to help users navigate websites more efficiently and to perform certain functions, as well as to provide information to the owners of the website. </p>
				           <p><strong>How do you restrict or delete cookies?</strong></p>
				               <p>We currently don’t use cookies though we may in the future. They will not be essential for the Site to work so you may delete and block all cookies from the Site, but please be aware that restricting or deleting cookies may impact on the functionality of the Site and your ability to use the Site.  </p>
				                   <p>Your web browser may allow you to restrict or delete cookies set by the Site. The Help function within your browser should tell you how. Alternatively, you can visit <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a> which provides general information about cookies and how you can manage cookies on your computer.</p>
				                       <p>To opt out of being tracked by Google Analytics across all websites visit <a href="http://tools.google.com/dlpage/gaoptout">http://tools.google.com/dlpage/gaoptout</a>.   </p>

				<h5>Links</h5>
				    <p>The Site may contain links to other websites. This Privacy Policy applies to the Site and HELLO LAMP POST! only and we are not responsible for the privacy practices of other websites. We recommend that you read the privacy policies of those other websites.</p>

				<h5>Contact us</h5>
				    <p>If you have any questions about this Privacy Policy or any of the Terms of which it forms part please contact us at: <a href="mailto:hellolamppost@panstudio.co.uk">hellolamppost@panstudio.co.uk</a></p>
			</div>
		</div>
	</section>
</article>
