<header id="header">
	<!-- <div class="grid-container"> -->
		<a href="/" class="logo"><img src="/images/logo.svg"/></a>
		<!-- <nav class="country-picker">
			<ul>
				<li><a class="sv" href="/sv/"></a></li>
				<li><a class="en" href="/en/"></a></li>
			</ul>
		</nav> -->
		<a class="hamburger"></a>
		<nav class="menu">
			<ul>
				<li><a href="/#about">About</a></li>
				<li><a href="/#how-it-works">How It Works</a></li>
        <li><a href="/#usecases">Our Role</a></li>
				<li><a href="/#locations">Locations</a></li>
				<li><a href="/#contact">Contact</a></li>
				<li class="menu-logo"><a href="https://www.facebook.com/Hello-Lamp-Post-171475660169073/" target="_blank"><img src="/images/facebook.svg"></a></li>
				<li class="menu-logo"><a href="https://www.instagram.com/hellolamppost_" target="_blank"><img src="/images/instagram.svg"></a></li>
				<li class="menu-logo"><a href="https://www.twitter.com/hellolamppost_" target="_blank"><img src="/images/twitter.svg"></a></li>
				<li class="menu-logo"><a href="https://www.linkedin.com/company/hello-lamp-post/" target="_blank"><img src="/images/linkedin.svg"></a></li>
			</ul>
		</nav>
	<!-- </div> -->
</header>



<article class="homepage">
  <!--Use cases-->
    <section id="usecases" class="usecase">
        <div class="grid-container">
          <hr>
          <h5>Our Projects</h5>
            <div id="row" class="row">
              <a href="#Sing"><button class="collapsible active" onclick="openTab('Sing');">
                  <div class="column">
                       <div class="image-circle">
                          <img src="/images/group.png">
                       </div>
                       <h4>Community Engagement</h4>
                          <ul>
                            <li>Enabling citizens to continuously engage on their priorities for their community</li>
                            <li>Engagement and collaborative ideation around topics</li>
                            <li>Promotion of local events and activities</li>
                            <li>Sharing thoughts, opinions and planned initiatives with citizens</li>
                          </ul>
                  </div>
              </button></a>
              <a href="#Brstl"><button class="collapsible" onclick="openTab('Brstl');">
                <div class="column">
                         <div class="image-circle">
                            <img src="/images/map.png">
                         </div>
                              <h4>Way-finding & Storytelling</h4>
                                <ul>
                                   <li>City way-finding and information resource</li>
                                   <li>Engagement tool for specific ”campaigns”/initiatives</li>
                                   <li>Gamification deployments</li>
                                </ul>
                  </div>
              </button></a>
              <a href="#Mesa"><button class="collapsible" onclick="openTab('Mesa');">
                  <div class="column">
                           <div class="image-circle">
                                  <img src="/images/buildings.png">
                           </div>
                            <h4>Urban Planning Engagement</h4>
                            <ul>
                              <li>Co-designing redevelopments and urban changes alongside citizens</li>
                              <li>Gathering continuous input and feedback on planning applications</li>
                              <li>Humanising cities</li>
                              <li>Engagement on smart city initiatives</li>
                            </ul>
                  </div>
              </button></a>
              <a href="#Utrecht"><button class="collapsible" onclick="openTab('Utrecht');">
                  <div class="column">
                           <div class="image-circle">
                                  <img src="/images/destination.png">
                           </div>
                              <h4>Culture & Tourism</h4>
                              <ul>
                               <li>Way-finding and orientation around cultural points of interest</li>
                               <li>History and stories behind landmarks and culture</li>
                               <li>Story sharing between visitors, citizens and tourists</li>
                               <li>Connecting tourists and reconnecting citizens with the city</li>
                              </ul>
                  </div>
              </button></a>
          </div> <!--Row div-->
        </div>
    </section>

<!--Info of projects -->
    <section id="case">
      <!--<span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>-->
      <div id="Mesa" class="slides">
        <div class="btns">
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
        </div><!--buttons-->

             <div class="leftcontent">
               <div class="dot-container">
                 <span class="dot" onclick="currentSlide(1)"></span>
                 <span class="dot" onclick="currentSlide(2)"></span>
                 <span class="dot" onclick="currentSlide(3)"></span>
               </div><!--dots-->
               <div class="grid-container">
               <div class="head row">
                 <div class="column">
                   <h1>Mesa</h1>
                   <h5>Client: <span>Mesa City government & Mesa Arts Centre</span></h5>
                   <h5>Days: <span>30+</span></h5>
                   <h5>Outcome: <span>The project led to increase.</span></h5>
                 </div>
                </div><!--Eo row!-->
                <div class="stats">
                  <div class="column">
                    <h1>7,035</h1>
                    <p>No. of Messages Sent</p>
                  </div>
                  <div class="column">
                    <h1>2,411</h1>
                    <p>No. of Objects Awoken</p>
                  </div>
                  <div class="column">
                    <h1>1,001</h1>
                    <p>No. of People Played</p>
                  </div>
                </div><!--Eo stats-->
                <div class="body row">
                 <div class="column">
                   <h5>Objective</h5>
                   <p>Hello Mesa was a month long installation around the Arts Center and a number of local festivals, as a playful artistic installation.</p>
                 </div>
                 <div class="column">
                   <h5>Themes & findings</h5>
                   <p>The result was an extraordinary overlap between human play, communication, technology and inanimate objects and Hello Lamp Post celebrated their first launch in the city of Bristol, UK as the winning entry to Watershed’s Playable City award.</p>
                 </div>
               </div> <!--EO row-->
               </div><!--EO grid-container-->
             </div><!--EO leftcontent-->

            <div class="rightcontent">
              <img src="/images/hlp_bristol1.jpg"/>
            </div><!--EO right content-->
      </div><!--slides-->

      <div id="Sing" class="slides">
        <div class="btns">
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
            </div><!--buttons-->

             <div class="leftcontent">
               <div class="dot-container">
                 <span class="dot" onclick="currentSlide(1)"></span>
                 <span class="dot" onclick="currentSlide(2)"></span>
                 <span class="dot" onclick="currentSlide(3)"></span>
               </div><!--dots-->
               <div class="grid-container">
               <div class="head row">
                 <div class="column">
                   <h1>Singapore</h1>
                   <h5>Client: <span>The Singapore government alongside Future Everything.</span></h5>
                   <h5>Days: <span>8+</span></h5>
                   <h5>Outcome: <span>The project led to increase.</span></h5>
                 </div>
                </div><!--Eo row!-->
                <div class="stats">
                  <div class="column">
                    <h1>18,843</h1>
                    <p>No. of Messages Sent</p>
                  </div>
                  <div class="column">
                    <h1>405</h1>
                    <p>No. of Objects Awoken</p>
                  </div>
                  <div class="column">
                    <h1>3,813</h1>
                    <p>No. of People Played</p>
                  </div>
                </div><!--Eo stats-->
                <div class="body row">
                 <div class="column">
                   <h5>Objective</h5>
                   <p>Helping solve communicating issues surrounding technology to the community. Hello Lamp Post Singapore was introduced during a week long festival of digital culture and part of SG50, the year long celebration that marked the 50th anniversary of the founding of Singapore.</p>
                 </div>
                 <div class="column">
                   <h5>Themes & findings</h5>
                   <p>High adoption rate, participants naturally empathising with objects and probing the edges of artificial intelligence. Overall, Hello Lamp Post allowed the Singapore government to gain an honest view on their residents’ opinions, knowledge and ideas for issues around technology.</p>
                 </div>
               </div> <!--EO row-->
               </div><!--EO grid-container-->
             </div><!--EO leftcontent-->

            <div class="rightcontent">
              <img src="/images/hlp_bristol1.jpg"/>
            </div><!--EO right content-->
      </div><!--slides-->

      <div id="Brstl" class="slides">
        <div class="btns">
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
            </div><!--buttons-->

             <div class="leftcontent">
               <div class="dot-container">
                 <span class="dot" onclick="currentSlide(1)"></span>
                 <span class="dot" onclick="currentSlide(2)"></span>
                 <span class="dot" onclick="currentSlide(3)"></span>
               </div><!--dots-->
               <div class="grid-container">
               <div class="head row">
                 <div class="column">
                   <h1>Bristol</h1>
                   <h5>Client: <span>City of Bristol, UK, with the Watershed’s Playable City Competition.</span></h5>
                   <h5>Days: <span>30+</span></h5>
                   <h5>Outcome: <span>The project led to increase.</span></h5>
                 </div>
                </div><!--Eo row!-->
                <div class="stats">
                  <div class="column">
                    <h1>29,771</h1>
                    <p>No. of Messages Sent</p>
                  </div>
                  <div class="column">
                    <h1>1,535</h1>
                    <p>No. of Objects Awoken</p>
                  </div>
                  <div class="column">
                    <h1>10,458</h1>
                    <p>No. of People Played</p>
                  </div>
                </div><!--Eo stats-->
                <div class="body row">
                 <div class="column">
                   <h5>Objective</h5>
                   <p>For Bristol residents to rediscover the local environment, share memories of the city and uncover the stories that other people had left behind. The inspiration for Hello Lamp Post Bristol came about by combining two playful ideas: the city being thought of as a diary and so much of the city’s infrastructure being labelled with unique identifier codes. These were used to reference locations in a way that is more human, fun and playful.</p>
                 </div>
                 <div class="column">
                   <h5>Themes & findings</h5>
                   <p>The result was an extraordinary overlap between human play, communication, technology and inanimate objects and Hello Lamp Post celebrated their first launch in the city of Bristol, UK as the winning entry to Watershed’s Playable City award.</p>
                 </div>
               </div> <!--EO row-->
               </div><!--EO grid-container-->
             </div><!--EO leftcontent-->

            <div class="rightcontent">
              <img src="/images/hlp_bristol1.jpg"/>
            </div><!--EO right content-->
      </div><!--slides-->

      <div id="Utrecht" class="slides">
        <div class="btns">
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
            </div><!--buttons-->

             <div class="leftcontent">
               <div class="dot-container">
                 <span class="dot" onclick="currentSlide(1)"></span>
                 <span class="dot" onclick="currentSlide(2)"></span>
                 <span class="dot" onclick="currentSlide(3)"></span>
               </div><!--dots-->
               <div class="grid-container">
               <div class="head row">
                 <div class="column">
                   <h1>Utrecht</h1>
                   <h5>Client: <span>Mesa City government & Mesa Arts Centre</span></h5>
                   <h5>Days: <span>30+</span></h5>
                   <h5>Outcome: <span>The project led to increase.</span></h5>
                 </div>
                </div><!--Eo row!-->
                <div class="stats">
                  <div class="column">
                    <h1>7,035</h1>
                    <p>No. of Messages Sent</p>
                  </div>
                  <div class="column">
                    <h1>2,411</h1>
                    <p>No. of Objects Awoken</p>
                  </div>
                  <div class="column">
                    <h1>1,001</h1>
                    <p>No. of People Played</p>
                  </div>
                </div><!--Eo stats-->
                <div class="body row">
                 <div class="column">
                   <h5>Objective</h5>
                   <p>Hello Mesa was a month long installation around the Arts Center and a number of local festivals, as a playful artistic installation.</p>
                 </div>
                 <div class="column">
                   <h5>Themes & findings</h5>
                   <p>The result was an extraordinary overlap between human play, communication, technology and inanimate objects and Hello Lamp Post celebrated their first launch in the city of Bristol, UK as the winning entry to Watershed’s Playable City award.</p>
                 </div>
               </div> <!--EO row-->
               </div><!--EO grid-container-->
             </div><!--EO leftcontent-->

            <div class="rightcontent">
              <img src="/images/hlp_bristol1.jpg"/>
            </div><!--EO right content-->
      </div><!--slides-->

    </section>

<!--Contact form-->
    <section id="contact" class="contact">
        <div class="grid-container">
            <span class="arrow"></span>
            <div class="col-4">
              <hr>
                 <h5>Contact</h5>
                 <h1>Get In Touch</h1>
                 <p>We are always happy to hear from you whether you’re looking for more info or to collaborate with us. Don't hesitate to drop us a message!</p>
                 <!-- <p>We're hiring! Click <a href="/careers">here</a> to view our openings and learn more about us.</p> -->
                 <!--<a class="link-btn-one" href="mailto:contact@hlp.city?Subject=Hello%20Lamp%20Post%20Enquiry">Email Us</a>-->
            </div>
            <div class="col-6">
                <form class="contact-form" action="/contact" method="post">
                      <fieldset>
                             <label for="name">Name:</label>
                             <input type="text" name="name" placeholder="Example Name">
                      </fieldset>

                      <fieldset>
                             <label for="email">Email Address:</label>
                             <input type="email" name="email" placeholder="Example@Domain.co.uk">
                      </fieldset>

                             <label for="subject">Subject:</label>
                             <select name="subject" form="subject-form">
                                <option selected value="I am interested in Hello Lamp Post for my city">I am interested in Hello Lamp Post for my city.</option>
                                <option value="I have a question about Hello Lamp Post">I have a general question about Hello Lamp Post.</option>
                                <option value="I am interested in collaborating with Hello Lamp Post">I am interested in collaborating with Hello Lamp Post.</option>
                                <option value="Other">Other.</option>
                            </select>

                            <label for="message">Your Message:</label>
                            <textarea name="message" cols='30' placeholder="Hello Lamp Post..." rows="10"></textarea><br>
                            <input type="submit" class="btn" value="Submit">
                <!-- Google Captcha, needs back-end configuring -->
                <!-- <div class="g-recaptcha" data-sitekey="6Le09lUUAAAAAO5j54Yj3oI6GTEgbpfiBJf7AbXp"></div> -->
                 </form>
            </div>
        </div>
    </section>
</article>


<script>
  //expanding projects
    function openTab(tabName) {
    var i, x;
    x = document.getElementsByClassName("slides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(tabName).style.display = "block";
  }
</script>


<script>
  //navigation disappearing
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("header").style.top = "0";
    } else {
      document.getElementById("header").style.top = "-150px";
    }
    prevScrollpos = currentScrollPos;
  }
</script>

<script>
  // Add active class to the current button (highlight it)
  var header = document.getElementById("row");
  var btns = header.getElementsByClassName("collapsible");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }

</script>
