<article id="projects">

  <!--Use cases-->
  <section id="usecase" class="container-fluid">
    <div class="grid-container">
      <hr>
      <h2>Our role in cities</h2>
    </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="image-circle">
              <img src="/images/group.png" alt="icon">
            </div>
            <h3>Community Engagement</h3>
          </div>

          <div class="col-sm-3">
            <div class="image-circle">
              <img src="/images/map.png"  alt="icon">
            </div>
            <h3>Way-finding</h3>
          </div>

          <div class="col-sm-3">
            <div class="image-circle">
              <img src="/images/buildings.png"  alt="icon">
            </div>
            <h3>Public Consultation</h3>
          </div>

          <div class="col-sm-3">
            <div class="image-circle">
              <img src="/images/destination.png"  alt="icon">
            </div>
            <h3>Tourism & Cultural Storytelling</h3>
          </div>
        </div>
  </section>


  <!--Projects-->
  <section id="case">
    <div class="row">
      <div class="mesa col-sm-6">
        <div class="container-fluid">
          <div class="row content">
            <div class="text col-8">
              <h1>Mesa</h1>
              <h4>Mesa Arts Center in partnership with City of Mesa.</h4>
            </div>
          </div>
          <div class="row overlay">
            <div class="text col-8">
              <p>Celebrate the arts and culture of the city of Mesa, and to promote
                creative opportunities whilst gaining the public’s insights and
                 views to aid with the center’s strategic planning program.
              </p>

              <div class="row stats">
                <div class="col-sm-4">
                  <h1>7,035</h1>
                  <p>No. of Interactions</p>
                </div>
                <div class="col-sm-4">
                  <h1>2,411</h1>
                  <p>No. of Objects Awoken</p>
                </div>
                <div class="col-sm-4">
                  <h1>1,001</h1>
                  <p>No. of People Played</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="austin col-sm-6">
        <div class="container-fluid">
          <div class="row content">
            <div class="text col-8">
              <h1>Austin</h1>
              <h4>City of Austin.</h4>
            </div>
            <div class="row overlay">
              <div class="text col-8">
                <p>Hello Lamp Post – Austin was a fantastic opportunity to
                    develop an Austin specific mechanic that responds to the
                    qualities of the local area and citizens.
                </p>

                <div class="row stats">
                  <div class="col-sm-4">
                    <h1>24,442</h1>
                    <p>No. of Interactions</p>
                  </div>
                  <div class="col-sm-4">
                    <h1>2,046</h1>
                    <p>No. of Objects Awoken</p>
                  </div>
                  <div class="col-sm-4">
                    <h1>8,008</h1>
                    <p>No. of People Played</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="sing col-sm-6">
        <div class="container-fluid">
          <div class="row content">
            <div class="text col-8">
              <h1>Singapore</h1>
              <h4>The Singapore government alongside Future Everything.</h4>
            </div>

            <div class="row overlay">
              <div class="text col-8">
                <p>Communicating issues surrounding technology to the community.
                  Hello Lamp Post Singapore was introduced during a week long festival
                  of digital culture and part of SG50, the year long celebration
                  that marked the 50th anniversary of the founding of Singapore.
                </p>

                <div class="row stats">
                  <div class="col-sm-4">
                    <h1>18,843</h1>
                    <p>No. of Interactions</p>
                  </div>
                  <div class="col-sm-4">
                    <h1>405</h1>
                    <p>No. of Objects Awoken</p>
                  </div>
                  <div class="col-sm-4">
                    <h1>3,813</h1>
                    <p>No. of People Played</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="utrecht col-sm-6">
        <div class="container-fluid">
          <div class="row content">
            <div class="text col-8">
              <h1>Utrecht</h1>
              <h4>RAUM, Utrecht</h4>
            </div>

            <div class="row overlay">
              <div class="text col-8">
                <p>RAUM commissioned Hello Lamp Post bring into the city to
                  gather people’s perceptions of city ownership, and the role of
                  the citizen in future cities.
                </p>

                <div class="row stats">
                  <div class="col-sm-4">
                    <h1>3,002</h1>
                    <p>No. of Interactions</p>
                  </div>
                  <div class="col-sm-4">
                    <h1>100</h1>
                    <p>No. of Objects Awoken</p>
                  </div>
                  <div class="col-sm-4">
                    <h1>845</h1>
                    <p>No. of People Played</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <span id="expand"></span>

    <div id="more">
      <div class="row">
        <div class="malmo col-sm-6">
          <div class="container-fluid">
            <div class="row content">
              <div class="text col-8">
                <h1>Malmo</h1>
                <h4>City of Malmo</h4>
              </div>
            </div>
            <div class="row overlay">
              <div class="text col-8">
                <p>Hello Sustainable Malmo 2018 was an installation in the coastal
                  area of the city, designed to disseminate information around the
                  UN's Global Goals, and to engage citizens on their participation
                  and challenge their awareness of how their city supports the vision of the UN.
                </p>

                <div class="row stats">
                  <div class="col-sm-4">
                    <h1>2,650</h1>
                    <p>No. of Interactions</p>
                  </div>
                  <div class="col-sm-4">
                    <h1>132</h1>
                    <p>No. of Objects Awoken</p>
                  </div>
                  <div class="col-sm-4">
                    <h1>1,001</h1><!--change-->
                    <p>No. of People Played</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="brstl col-sm-6">
          <div class="container-fluid">
            <div class="row content">
              <div class="text col-8">
                <h1>Bristol</h1>
                <h4>City of Bristol, UK, with the Watershed’s Playable City.</h4>
              </div>
              <div class="row overlay">
                <div class="text col-8">
                  <p>For Bristol residents to rediscover their local environment,
                    share memories of the city and uncover the stories that other
                    people had left behind. This would encourage citizens to view
                    the urban environment differently, and add to a ‘digital journal’
                    of their city.
                  </p>

                  <div class="row stats">
                    <div class="col-sm-4">
                      <h1>29,771</h1>
                      <p>No. of Interactions</p>
                    </div>
                    <div class="col-sm-4">
                      <h1>1,535</h1>
                      <p>No. of Objects Awoken</p>
                    </div>
                    <div class="col-sm-4">
                      <h1>10,458</h1><!--change-->
                      <p>No. of People Played</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn">
      <button onclick="myFunction()" id="Btn" class="link-btn-one" role="button">More Projects</button>
    </div>
  </section>


  <!--testimonials-->
  <section id="testimonials">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!--Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <p>“Hello Lamp Post is a poetic glimpse of what the future of user
            interaction will be in the ‘internet of things’, a technological
            vision where artefacts and physical environments are connected to
            the network.”</p>
          <p class="customer">- Matt Webb</p>
        </div>

        <div class="item">
          <p>"I love this for its whispers on the street, guardians in dark corners,
             humanizing our cities' appendages whose eyes and ears now have a voice.
             Vessels for an ever-evolving conversation, connecting us together.
             They were there all along!"</p>
          <p class="customer">- Imogen Heap</p>
        </div>

        <div class="item">
          <p>“We didn’t realise how much we would learn about people’s likes,
            what inspires them, the tiny moments of family holiday fun they shared.
            We’re slightly embarrassed that we’ve pursued two lamp post themes,
            but they are ubiquitous in the city’s infrastructure and we wanted to
            use that infrastructure.”</p>
          <p class="customer">- Claire Reddington</p>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>


    </div>
  </section>
</article>




<script type="text/javascript">
  function myFunction() {
    var expand = document.getElementById("expand");
    var more = document.getElementById("more");
    var btnText = document.getElementById("Btn");

    if (expand.style.display === "none") {
      expand.style.display = "inline";
      btnText.innerHTML = "More Projects";
      more.style.display = "none";
    }
    else {
      expand.style.display = "none";
      btnText.innerHTML = "Less Projects";
      more.style.display = "inline";
    }
  }
</script>
