<header id="header">
	<!-- <div class="grid-container"> -->
		<a href="/" class="logo"><img src="/images/logo.svg"/></a>
		<!-- <nav class="country-picker">
			<ul>
				<li><a class="sv" href="/sv/"></a></li>
				<li><a class="en" href="/en/"></a></li>
			</ul>
		</nav> -->
		<a class="hamburger"></a>
		<nav class="menu">
			<ul>
				<li><a href="/#about">About</a></li>
				<li><a href="/#how-it-works">How It Works</a></li>
        <li><a href="/#usecases">Our Role</a></li>
				<li><a href="/#locations">Locations</a></li>
				<li><a href="/#contact">Contact</a></li>
				<li class="menu-logo"><a href="https://www.facebook.com/Hello-Lamp-Post-171475660169073/" target="_blank"><img src="/images/facebook.svg"></a></li>
				<li class="menu-logo"><a href="https://www.instagram.com/hellolamppost_" target="_blank"><img src="/images/instagram.svg"></a></li>
				<li class="menu-logo"><a href="https://www.twitter.com/hellolamppost_" target="_blank"><img src="/images/twitter.svg"></a></li>
				<li class="menu-logo"><a href="https://www.linkedin.com/company/hello-lamp-post/" target="_blank"><img src="/images/linkedin.svg"></a></li>
			</ul>
		</nav>
	<!-- </div> -->
</header>



<article class="homepage">
  <!--Use cases-->
    <section id="usecases" class="usecase">
        <div class="grid-container">
          <hr>
          <h5>Our Projects</h5>
            <div class="row">
              <a href="#Mesa"><button class="collapsible" onclick="openTab('Mesa');">
                  <div class="column">
                       <div class="image-circle">
                          <img src="/images/icons/group.png">
                       </div>
                       <h4>Community Engagement</h4>
                          <ul>
                            <li>Enabling citizens to continuously engage on their priorities for their community</li>
                            <li>Engagement and collaborative ideation around topics such as</li>
                            <li>Promotion of local events and activities</li>
                            <li>Sharing thoughts, opinions and planned initiatives with citizens</li>
                          </ul>
                  </div>
              </button></a>
              <a href="#Sing"><button class="collapsible" onclick="openTab('Sing');">
                <div class="column">
                         <div class="image-circle">
                            <img src="/images/icons/map.png">
                         </div>
                              <h4>Way-finding & Storytelling</h4>
                                <ul>
                                   <li>City way-finding and information resource</li>
                                   <li>Engagement tool for specific ”campaigns”/initiatives</li>
                                   <li>Gamification deployments</li>
                                </ul>
                  </div>
              </button></a>
              <a href="#Ldn"><button class="collapsible" onclick="openTab('Ldn');">
                  <div class="column">
                           <div class="image-circle">
                                  <img src="/images/icons/buildings.png">
                           </div>
                            <h4>Urban Design Engagement</h4>
                            <ul>
                              <li>Co-designing redevelopments and urban changes alongside citizens</li>
                              <li>Gathering continuous input and feedback on planning applications</li>
                              <li>Humanising cities</li>
                              <li>Engagement on smart city initiatives</li>
                            </ul>
                  </div>
              </button></a>
              <a href="#Utrecht"><button class="collapsible" onclick="openTab('Utrecht');">
                  <div class="column">
                           <div class="image-circle">
                                  <img src="/images/icons/destination.png">
                           </div>
                              <h4>Culture & Tourism Engagement</h4>
                              <ul>
                               <li>Cultural Education and Research</li>
                               <li>Way-finding and orientation around cultural points of interest</li>
                               <li>History and stories behind landmarks</li>
                               <li>Story sharing between visitors, citizens and tourists</li>
                               <li>Connecting tourists and reconnecting citizens with the city</li>
                              </ul>
                  </div>
              </button></a>
          </div> <!--Row div-->
        </div>
    </section>

<!--Info of projects -->
    <section id="case">
      <!--<span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>-->
      <div id="Mesa" class="slides">
        <div class="btns">
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
        </div><!--buttons-->

             <div class="leftcontent">
               <div class="dot-container">
                 <span class="dot" onclick="currentSlide(1)"></span>
                 <span class="dot" onclick="currentSlide(2)"></span>
                 <span class="dot" onclick="currentSlide(3)"></span>
               </div><!--dots-->
               <div class="grid-container">
               <div class="head row">
                 <div class="column">
                   <h1>Mesa</h1>
                   <h5>Client: <span>Mesa City government & Mesa Arts Centre</span></h5>
                   <h5>Days: <span>30+</span></h5>
                   <h5>Outcome: <span>The project led to increase.</span></h5>
                 </div>
                </div><!--Eo row!-->
                <div class="stats">
                  <div class="column">
                    <h1>7,035</h1>
                    <p>No. of Messages Sent</p>
                  </div>
                  <div class="column">
                    <h1>2,411</h1>
                    <p>No. of Objects Awoken</p>
                  </div>
                  <div class="column">
                    <h1>1,001</h1>
                    <p>No. of People Played</p>
                  </div>
                </div><!--Eo stats-->
                <div class="body row">
                 <div class="column">
                   <h5>Objective</h5>
                   <p>Hello Mesa was a month long installation around the Arts Center and a number of local festivals, as a playful artistic installation.</p>
                 </div>
                 <div class="column">
                   <h5>Themes & findings</h5>
                   <p>The result was an extraordinary overlap between human play, communication, technology and inanimate objects and Hello Lamp Post celebrated their first launch in the city of Bristol, UK as the winning entry to Watershed’s Playable City award.</p>
                 </div>
               </div> <!--EO row-->
               </div><!--EO grid-container-->
             </div><!--EO leftcontent-->

            <div class="rightcontent">
              <img src="/images/hlp_bristol1.jpg"/>
            </div><!--EO right content-->
      </div><!--slides-->

      <div id="Sing" class="slides">
        <div class="btns">
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
            </div><!--buttons-->

             <div class="leftcontent">
               <div class="dot-container">
                 <span class="dot" onclick="currentSlide(1)"></span>
                 <span class="dot" onclick="currentSlide(2)"></span>
                 <span class="dot" onclick="currentSlide(3)"></span>
               </div><!--dots-->
               <div class="grid-container">
               <div class="head row">
                 <div class="column">
                   <h1>Singapore</h1>
                   <h5>Client: <span>Mesa City government & Mesa Arts Centre</span></h5>
                   <h5>Days: <span>30+</span></h5>
                   <h5>Outcome: <span>The project led to increase.</span></h5>
                 </div>
                </div><!--Eo row!-->
                <div class="stats">
                  <div class="column">
                    <h1>7,035</h1>
                    <p>No. of Messages Sent</p>
                  </div>
                  <div class="column">
                    <h1>2,411</h1>
                    <p>No. of Objects Awoken</p>
                  </div>
                  <div class="column">
                    <h1>1,001</h1>
                    <p>No. of People Played</p>
                  </div>
                </div><!--Eo stats-->
                <div class="body row">
                 <div class="column">
                   <h5>Objective</h5>
                   <p>Hello Mesa was a month long installation around the Arts Center and a number of local festivals, as a playful artistic installation.</p>
                 </div>
                 <div class="column">
                   <h5>Themes & findings</h5>
                   <p>The result was an extraordinary overlap between human play, communication, technology and inanimate objects and Hello Lamp Post celebrated their first launch in the city of Bristol, UK as the winning entry to Watershed’s Playable City award.</p>
                 </div>
               </div> <!--EO row-->
               </div><!--EO grid-container-->
             </div><!--EO leftcontent-->

            <div class="rightcontent">
              <img src="/images/hlp_bristol1.jpg"/>
            </div><!--EO right content-->
      </div><!--slides-->

      <div id="Ldn" class="slides">
        <div class="btns">
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
            </div><!--buttons-->

             <div class="leftcontent">
               <div class="dot-container">
                 <span class="dot" onclick="currentSlide(1)"></span>
                 <span class="dot" onclick="currentSlide(2)"></span>
                 <span class="dot" onclick="currentSlide(3)"></span>
               </div><!--dots-->
               <div class="grid-container">
               <div class="head row">
                 <div class="column">
                   <h1>London</h1>
                   <h5>Client: <span>Mesa City government & Mesa Arts Centre</span></h5>
                   <h5>Days: <span>30+</span></h5>
                   <h5>Outcome: <span>The project led to increase.</span></h5>
                 </div>
                </div><!--Eo row!-->
                <div class="stats">
                  <div class="column">
                    <h1>7,035</h1>
                    <p>No. of Messages Sent</p>
                  </div>
                  <div class="column">
                    <h1>2,411</h1>
                    <p>No. of Objects Awoken</p>
                  </div>
                  <div class="column">
                    <h1>1,001</h1>
                    <p>No. of People Played</p>
                  </div>
                </div><!--Eo stats-->
                <div class="body row">
                 <div class="column">
                   <h5>Objective</h5>
                   <p>Hello Mesa was a month long installation around the Arts Center and a number of local festivals, as a playful artistic installation.</p>
                 </div>
                 <div class="column">
                   <h5>Themes & findings</h5>
                   <p>The result was an extraordinary overlap between human play, communication, technology and inanimate objects and Hello Lamp Post celebrated their first launch in the city of Bristol, UK as the winning entry to Watershed’s Playable City award.</p>
                 </div>
               </div> <!--EO row-->
               </div><!--EO grid-container-->
             </div><!--EO leftcontent-->

            <div class="rightcontent">
              <img src="/images/hlp_bristol1.jpg"/>
            </div><!--EO right content-->
      </div><!--slides-->

      <div id="Utrecht" class="slides">
        <div class="btns">
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a>
            </div><!--buttons-->

             <div class="leftcontent">
               <div class="dot-container">
                 <span class="dot" onclick="currentSlide(1)"></span>
                 <span class="dot" onclick="currentSlide(2)"></span>
                 <span class="dot" onclick="currentSlide(3)"></span>
               </div><!--dots-->
               <div class="grid-container">
               <div class="head row">
                 <div class="column">
                   <h1>Utrecht</h1>
                   <h5>Client: <span>Mesa City government & Mesa Arts Centre</span></h5>
                   <h5>Days: <span>30+</span></h5>
                   <h5>Outcome: <span>The project led to increase.</span></h5>
                 </div>
                </div><!--Eo row!-->
                <div class="stats">
                  <div class="column">
                    <h1>7,035</h1>
                    <p>No. of Messages Sent</p>
                  </div>
                  <div class="column">
                    <h1>2,411</h1>
                    <p>No. of Objects Awoken</p>
                  </div>
                  <div class="column">
                    <h1>1,001</h1>
                    <p>No. of People Played</p>
                  </div>
                </div><!--Eo stats-->
                <div class="body row">
                 <div class="column">
                   <h5>Objective</h5>
                   <p>Hello Mesa was a month long installation around the Arts Center and a number of local festivals, as a playful artistic installation.</p>
                 </div>
                 <div class="column">
                   <h5>Themes & findings</h5>
                   <p>The result was an extraordinary overlap between human play, communication, technology and inanimate objects and Hello Lamp Post celebrated their first launch in the city of Bristol, UK as the winning entry to Watershed’s Playable City award.</p>
                 </div>
               </div> <!--EO row-->
               </div><!--EO grid-container-->
             </div><!--EO leftcontent-->

            <div class="rightcontent">
              <img src="/images/hlp_bristol1.jpg"/>
            </div><!--EO right content-->
      </div><!--slides-->

    </section>
</article>


<script>
  //expanding projects
    function openTab(tabName) {
    var i, x;
    x = document.getElementsByClassName("slides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(tabName).style.display = "block";
  }
</script>


<script>
  //navigation disappearing
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("header").style.top = "0";
    } else {
      document.getElementById("header").style.top = "-150px";
    }
    prevScrollpos = currentScrollPos;
  }
</script>
