<div class="object-search">

  <div class="inner">
    <h1>Spoken to a particular object?</h1>

    <form action="/objects/search" method="post">

      <div class="inline-search">
        <div class="inline-search-input">
          <input type="search" class="search-code" name="code" placeholder="object name and #code">
        </div>

        <div class="inline-search-button">
          <button type="submit" class="search-button">Search</button>
        </div>
      </div>

    </form>
  </div>

</div>

<div class="featured-objects">

  <div class="inner">
    <h2>Featured objects</h2>

    <p>Featured objects are objects that already have personalities. If you want to get started playing, they’re a good place to begin.</p>
  </div>

  <iframe src="//mapbuildr.com/frame/gqjim0" frameborder="0" height="600" width="1000" class="map-iframe"></iframe>

</div>