<article class="homepage">
	<% if flash.has?(:ok) %>
	<section id="notification" class="notification">
		<div class="grid-container">
			<h3><%= flash[:ok] %></h3>
			<div class="link-exit"></div>
		</div>
	</section>
	<% end %>
	<section id="legal" class="information">
		<div class="grid-container">
			<div class="col-6">
				<div class="links">
					<p><a href="/terms">Terms & Conditions</a> | <a href="/privacy">Privacy Policy</a></p>
				</div>
				<h1>Terms & Conditions</h1>
				<p>This website, located at hellolamppost.co.uk, is operated by PAN STUDIO LIMITED (registered in England with registration number 8015714 whose registered office is at:</p>

				<p>PAN Studio Limited, First Floor Vintage Yard, 59-63 Bermondsey Street, London, SE1 3XF</p>

				<p>Codes can be found around the city that are normally used to identify public objects for maintenance and monitoring. With Hello Lamp Post we use these codes as identifiers in a city wide network of objects. These codes allow you to either ‘wake up’ a sleeping object or learn what other people have been saying to one that is already awake. Each exchange will last for a few messages and you will be encouraged to come back and talk to the object some more another day. The more you play, the more the hidden life of the city will be revealed. Objects might even start to get attached to you if you talk to them a lot. The only information we share is the responses you give to objects. These can be thought of as public conversations, comparable with those on twitter. They may be shown via sms or on the website or occasionally anonymously in print. We will never show your name, phone number or any other data about you.</p>

				<p>These Terms tell you the terms of use on which you may access and make use of our Site and HELLO LAMP POST!. </p>

				<p>Please read these Terms carefully as they are a legally binding agreement and contain important information on your legal rights and obligations. In particular please note the sections entitled Disclaimer, Limitation of liability and Indemnity.  </p>

				<p>By using our Site or HELLO LAMP POST! you indicate that you accept these Terms and that you agree to abide by them. If you do not agree to these Terms, please do not 
				use our Site or HELLO LAMP POST!  </p>

				<p>These Terms also incorporate our <a href="hellolamppost.co.uk/privacy">Privacy Policy</a> (which tells you how we use your personal information). These Terms and the Privacy Policy apply to all visitors to our Site and users of HELLO LAMP POST! irrespective of how you use our Site or HELLO LAMP POST!.</p>

				<p>If you have any questions about these Terms please contact us at <a href="mailto:hellolamppost@panstudio.co.uk">hellolamppost@panstudio.co.uk</a> </p>

				<h5>Your acceptance of these Terms</h5>

				<p>These terms apply to:</p>

				<ul>
					<li>any individuals who visits or use this Site (Visitors); </li>
					<li>any individuals who use HELLO LAMP POST! (Players); and</li>
				</ul>

				<h4>Changes to these Terms</h4>

				<p>We may revise and update these Terms at any time and will indicate at the top of the page when these Terms were last revised. Please periodically review the Terms as your continued use of the Site and HELLO LAMP POST! indicates your agreement to any changes that we make.</p>

				<h4>The terms and conditions</h4>

				<h5>Content</h5>

				<p>1.1 In the Terms “Content” includes all text and other material sent to us while using HELLO LAMP POST! by you.</p>

				<h5>Accessing our Site and HELLO LAMP POST!</h5>

				<p>1.2 Our Site and HELLO LAMP POST! is for use by individuals located in the UK only. By using the Site or HELLO LAMP POST!, You confirm that you are located in the UK </p>

				<p>1.3 Access to our Site and HELLO LAMP POST! is permitted on a temporary basis, and we reserve the right to withdraw or amend access to our Site or HELLO LAMP POST! without notice. We will not be liable if for any reason our Site or HELLO LAMP POST! is unavailable at any time or for any period.</p>

				<p>1.4 We reserve the right at any time to refuse, block, terminate or restrict your access to the Site or HELLO LAMP POST!, however we will only generally do so where we believe that you have breached the Terms. We are under no obligation to re-grant you access to the Site or HELLO LAMP POST! and these Terms will remain in effect. We are entitled to delete or block the Content you have sent to us while using HELLO LAMP POST! [or posted within the Site].</p>

				<p>1.5 We reserve the right to delete all information relating to you and all Content sent to us by you while using HELLO LAMP POST! [or posted to the Site] if you do not use the Site or HELLO LAMP POST! for more than <a href="although%20we%20are%20not%20required%20to%20do%20so">two (2) months</a>.</p>

				<h5>Your responsibility to provide accurate information</h5>

				<p>1.6 Where we expressly request any personal information from you on the Site, as part of HELLO LAMP POST! or otherwise, you must tell us promptly about any changes to the information that you have provided to us. You can do this by contacting us at <a href="mailto:hellolamppost@panstudio.co.uk">hellolamppost@panstudio.co.uk</a></p>

				<h5>Content posted by you</h5>

				<p>1.7 You alone are responsible for the content, accuracy and suitability of any Content sent to us while using HELLO LAMP POST! [or posted in the Site] by you, and for the consequences of posting Content.  We will not be responsible for or liable to you or any third party for any Content posted by you or any other Players. </p>

				<p>1.8 You must ensure that the Content posted or shared by you does not violate our Code of Conduct. [When you send [or post] Content we may require you to provide a confirmation that the Content does not violate Our Code of Conduct below.</p>

				<p>1.9 You are only permitted to send us [or post] Content that you have created or which you have permission to send [or post]. You confirm to us that you own the Content sent [or posted] by you or otherwise you have all necessary rights (including, but not limited to, copyright, trade marks and other intellectual property rights) and consents to distribute and publish the Content and to allow us and other Players to publish and use the Content in the manner set out in these Terms and/or as part of HELLO LAMP POST!.</p>

				<p>1.10    You agree to make your Content available to us and other Players and Visitors in the manner envisaged by these Terms without payment or other compensation to you. We do not claim any ownership of your Content. You will retain full ownership of all Content sent to us while using HELLO LAMP POST! [or posted by you in the Site].</p>

				<p>1.11    We are not liable to you or any third party for any loss of or corruption or damage to Content.</p>

				<h5>Our rights to use Content posted by You</h5>

				<p>1.12    By submitting Content to us while using HELLO LAMP POST! [or in the Site], you give us a royalty-free, worldwide, sub-licensable, non-exclusive right and licence for the full duration of your legal rights arising in the Content to:</p>

				<p>1.12.1  make copies of and use the Content to facilitate the hosting and availability of the Content for other Players and Visitors and generally to operate the Site and HELLO LAMP POST! in the manner envisaged by these Terms; </p>

				<p>1.12.2  make copies of and use the Content in audio and/or image galleries on the Site;</p>

				<p>1.12.3  move or copy Content to the homepage or other pages of the Site, highlight Content and/or enable Players to comment or rate Content;</p>

				<p>1.12.4  send the Content to other Players and Visitors;</p>

				<p>1.12.5  copy, adapt, publish, translate, create derivative works from, distribute, communicate to the public, perform, display and otherwise use on the Site and in any other marketing, promotion or publicity media on or off line (including, but not limited to, trade and other press) images, videos, comments, shares, ratings and articles forming part of the Content and/or to incorporate the Content into any other works in any form, media or technology now known or later developed; and </p>

				<p>1.12.6  use, modify, delete from or add to Content for any purpose in connection with the Site, HELLO LAMP POST! or otherwise as envisaged by these Terms.
					The rights of other Players to use Content posted by you
				1.13    By submitting Content to us while using HELLO LAMP POST! [or in the Site], you give to all other Players a royalty-free, worldwide, sub-licensable, non-exclusive licence for the full duration of your legal rights to use, copy, reproduce, distribute, prepare derivative works of and display Content for any purpose in connection with the Site or HELLO LAMP POST!.</p>

				<h5>Content that is highlighted by us on the Site, star ratings, likes and dislikes and comments</h5>

				<p>1.14    From time to time, we may highlight Content by, for example, profiling Content on the home page of the Site. When doing so, it is not feasible for us to 
				check or approve every aspect of that Content. </p>

				<p>1.15    On the Site, Players may have the facility to apply star ratings to Content and indicate using icons made available in the Site whether they like or dislike Content. These are preferences applied by Players and are not applied by us. We are not required to check or approve Content before allowing Players to apply star ratings or likes and dislikes.</p>

				<p>1.16    Accordingly, we will not take any additional responsibility for Content that is highlighted by us or that is tagged by Players using star ratings or likes and dislikes. It remains your responsibility to ensure that the Content you have submitted complies with the Terms. We will have no liability in that regard. </p>

				<p>1.17    We also have no liability for any opinions expressed by Players on other Players’ Content, whether via star ratings, likes, dislikes, comments or otherwise and we are not required to remove any star ratings, likes, dislikes, comments or other opinions on your Content with which you do not agree.</p>

				<p>1.18    The highlighting of any Content by us and the application of star ratings, likes or dislikes, comments by Players shall not imply any endorsement of that Content by us or any association with us [or any of our group companies]. </p>

				<h5>Code of Conduct</h5>

				<p>1.19    You are responsible for your activities in the Site and while using HELLO LAMP POST! and for any Content that you send us while using HELLO LAMP POST! [or post in the Site].  In return for being allowed to use the Site and HELLO LAMP POST!, you agree to comply with this code of conduct (Code of Conduct) which governs the way in which you may use the Site and HELLO LAMP POST! and interact with other Players and send [or post] Content to us [or in the Site]. </p>

				<p>1.20    The Site is designed to build a community of interest and provide a facility for individuals to share opinions in a constructive and respectful way. You must respect the other participants in this community when posting Content. You are expected to conduct yourself in an appropriate way that encourages diversity, inclusion and co-operation.   </p>

				<p>1.21    In particular You agree that:</p>

				<h5>Prohibited Content</h5>

				<p>1.21.1  While using the Site or HELLO LAMP POST!, you must not send us [or post] Content that in our opinion:</p>

				<ul>
					<li>promotes the consumption of any illegal drugs or other substances;</li>
					<li>promotes gambling;</li>
					<li>is obscene, pornographic or sexually explicit;</li>
					<li>depicts graphic or gratuitous violence;</li>
					<li>makes threats of any kind or that intimidates, harasses, or bullies anyone;</li>
					<li>promotes, facilitates or organises any civil disturbance or riot;</li>
					<li>is derogatory, demeaning, malicious, defamatory, abusive, offensive, hateful or otherwise objectionable;</li>
					<li>breaches any advertising regulations or codes of conduct;</li>
					<li>fails to comply with all applicable laws or puts us in breach of any applicable law;</li>
					<li>is unlawful, infringing, deceptive, fraudulent, invasive of privacy or publicity rights;</li>
					<li>contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality or any computer software or hardware or telecommunications equipment;</li>
					<li>encourages conduct that would violate or violates any law or advocates illegal activity;</li>
					<li>harms anyone, including minors;</li>
					<li>advertises or solicits business for any of our competitors;</li>
					<li>promotes the excessive consumption of alcohol or the consumption of any alcohol or drugs whilst driving;</li>
					<li>promotes reckless or dangerous driving or the infringement of any road traffic or other laws;</li>
					<li>promotes fraudulent, inaccurate or misleading insurance claims;</li>
					<li>contains restricted or password only access pages or hidden pages or images;</li>
					<li>promotes propaganda and/or symbols of organisations that are unconstitutional or illegal in the UK or any country in which this Site may be accessed; or</li>
					<li>provides a link to any of the above.</li>
				</ul>

				<h5>Prohibited Activities</h5>

				<p>1.21.2  When using the Site, HELLO LAMP POST! or any other facilities available through the Site, you must not:</p>

				<ul>
					<li>solicit personal information from anyone under 18;</li>
					<li>post any Content relating to another person without that person&#39;s consent;</li>
					<li>post any Content where the subject matter of the Content includes any individuals under the age or 18 or other vulnerable individual without obtaining the consent of the applicable parent or guardian;</li>
					<li>harvest or collect email addresses or other contact information from other Players or Visitors for the purposes of sending unsolicited emails or other unsolicited communications;</li>
					<li>send or make available any unsolicited or unauthorised advertising, promotional materials, &quot;spam&quot;, &quot;chain letters&quot;, &quot;pyramid schemes&quot; or any other form of solicitation;</li>
					<li>use this Site or HELLO LAMP POST! in any unlawful manner or in any way that could damage, disable, overburden or impair this Site or HELLO LAMP POST!;</li>
					<li>use automated scripts to collect information from or otherwise interact with this Site or HELLO LAMP POST!;</li>
					<li>impersonate any person or entity or misrepresent yourself in any way; </li>
					<li>use or attempt to use another person&#39;s details or create a false identity on this Site or HELLO LAMP POST!;</li>
					<li>abuse, threaten, intimidate or harass anybody;</li>
					<li>engage in any predatory or stalking conduct;</li>
					<li>use this Site or HELLO LAMP POST! for any illegal or unauthorised purpose; or</li>
					<li>circumvent or modify, or attempt to circumvent or modify, any security technology or software that is part of this Site or HELLO LAMP POST!. </li>
				</ul>

			</div>

			<div class="col-6 pushed-column">

				<p>1.22    The posting of Prohibited Content and the doing of any of the Prohibited Activities described in the Code of Conduct will be a material breach of these Terms.  We reserve the right to delete from this Site or HELLO LAMP POST! any Content that violates these Terms. We may also block, terminate or restrict your access to the Site and HELLO LAMP POST! if we believe that you have posted Prohibited Content or has carried out any of the Prohibited Activities. We are under no obligation to re-grant you access to the Site or HELLO LAMP POST!.</p>

				<p>1.23    We may disclose your details (including personal details and all Content sent to us [or posted in the Site] by you) where we are required to do so under a subpoena or court order, or following any other request (including criminal and civil matters) if we believe that the response is required by law or is reasonably necessary to protect the values and objectives of the Site, HELLO LAMP POST! or other Players. </p>

				<p>1.24    We may also disclose your details (including personal details and all Content sent to us [or posted in the Site] by you) to any third party who is claiming that any Content posted by you constitutes a violation of their intellectual property rights, their right to privacy, the Code of Conduct, or who has otherwise been harmed by your failure to comply with these Terms. We will try to notify you first before doing this by using the contact details you have provided. You will provide us with all relevant information relating to that claim without delay.</p>

				<p>1.25    You will reimburse us [and our group companies] for any losses, expenses or liabilities we [and they] incur as a result of you failing to comply with these Terms.</p>

				<h5>Abuse Notifications</h5>

				<p>1.27    If you believe that any Content on this Site or received from us while using HELLO LAMP POST! infringes any intellectual property or privacy rights of yours or any third party, or is otherwise contrary to the Code of Conduct and/or these Terms, you may send a written notification of that alleged unlawful Content (Unlawful Content) to us by email at [insert contact details] or using the abuse reporting links elsewhere on the Site. When doing so you must:  </p>

				<ul>
					<li>identify, in sufficient detail, the Unlawful Content so that we can locate the Unlawful Content;</li>
					<li>state why you believe the content to be Unlawful Content and, in the case of content that is alleged to infringe intellectual property or privacy rights, you must state the owner of that intellectual property or the name of the individual concerned;</li>
					<li>provide us with your name, address, telephone number and email address; </li>
					<li>include a statement from you that you have a good faith belief that the Content is Unlawful Content and that the information you have provided in your notification is true, accurate and complete in all respects;</li>
					<li>submit your notification to us using our contact form at <a href="mailto:hellolamppost@panstudio.co.uk">hellolamppost@panstudio.co.uk</a> and</li>
					<li>provide us with any assistance we may reasonably require in order to investigate your notification (we will not cover any costs or expenses incurred by you when doing so).</li>
				</ul>

				<p>1.28    If you become aware of any Content that we have highlighted on the Site or that we have otherwise used or repurposed under the rights granted in the Terms does not comply with the Code of Conduct or the Terms, You will immediately notify us in the manner described above. </p>

				<p>1.29    You will reimburse us for any costs, claims, expenses, losses or other liabilities we may incur as a result of you misrepresenting content as Unlawful Content.</p>

				<p>1.30    We reserve the right to remove or disable access to any Content that we believe may be Unlawful Content.  We reserve the right to refuse, block, terminate or restrict access to this Site or HELLO LAMP POST! of any person found to have posted Content that we believe to be Unlawful Content.</p>

				<h5>Privacy</h5>

				<p>1.31    We are committed to ensuring that your personal information is used properly and is kept securely. Read our <a href="/privacy">Privacy Policy</a> </p>

				<h5>Your safety when using the Site and HELLO LAMP POST!</h5>

				<p>1.32    We recommend that you take reasonable care over your personal information and safety when using the Site and HELLO LAMP POST!. When you send us Content this may be shared with other Players and Visitor. We recommend that you do not send us any personal information via HELLO LAMP POST! except where we expressly request information from you on the Site or as part of HELLO LAMP POST!. We recommend that you take care to ensure your own safety and the safety of others. We will not review any activities facilitated via the Site or HELLO LAMP POST! for safety or suitability. </p>

				<h5>Our Intellectual Property</h5>

				<p>1.33    Except for Content that is sent to us by Players as part of HELLO LAMP POST! [or posted in the Site] and except for other Content that we send to you as part of HELLO LAMP POST! or we post on this Site and credit as being owned by a third party, all the Content on this Site or received by you while using HELLO LAMP POST! and all intellectual property rights (including copyright, trademarks and database rights) arising in that Content, HELLO LAMP POST! and this Site generally are owned by us or our licensors. All such rights are reserved. © [PAN STUDIO LIMITED] [2013].</p>

				<p>1.34    You are granted a limited licence to access and use the Site, HELLO LAMP POST! and our content in the Site for your personal use as envisaged by these Terms, provided that you keep all copyright and other proprietary notices intact. You are not permitted to use any part of the Site or HELLO LAMP POST! for commercial purposes. </p>

				<p>1.35    Our content in the Site and/or content that forms part of HELLO LAMP POST! may not be copied, distributed, modified, adapted, translated, reproduced in whole or in part without our prior written permission, except that you are permitted to reproduce and display our content in the Site or that forms part of HELLO LAMP POST! (excluding any software code) solely for your personal use in connection with viewing the Site and as a genuine user of the Site and/or HELLO LAMP POST!. </p>

				<p>1.36    &quot;[HELLO LAMP POST]&quot; and other marks used on this Site or as part of HELLO LAMP POST!  are our trade marks or those of our licensors and may not be used without our prior written permission. </p>

				<p>1.37    You may not use any meta tags or any other hidden text using our names or trade marks without our prior written permission.</p>

				<h5>Linking to this Site and framing of this Site</h5>

				<p>1.38    You may link to any page on this Site, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. You must always make it clear that the content you are linking to came from this Site.</p>

				<p>1.39    You must not establish a link from any website that is not owned by you. Our Site must not be framed on any other site, nor may you create a link to any part of our Site other than the home page. We reserve the right to withdraw linking permission without notice.  </p>

				<p>1.40    We reserve the right to withdraw linking permission without notice. The website from which you are linking must comply in all respects with the standards reflected in the Code of Conduct.</p>

				<p>1.41    If you wish to make any use of material on our Site other than that set out above, please address your request to <a href="mailto:hellolamppost@panstudio.co.uk">hellolamppost@panstudio.co.uk</a></p>

				<p>Links from this Site</p>

				<p>1.42    We may provide links to third party web sites. These links are provided for your information only.  </p>

				<p>1.43    The linked sites are not under our control, and we make no representations as to the quality, suitability, functionality or legality of the sites to which we may provide links. We accept no responsibility for theses sites or for any loss or damage that may arise from your use of them.</p>

				<h5>Viruses, hacking and other offences</h5>

				<p>1.44    You must not misuse this Site or HELLO LAMP POST! by knowingly introducing viruses, Trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to this Site, HELLO LAMP POST!, the servers on which this Site and/or HELLO LAMP POST! is hosted or any server, computer or database connected to this Site or HELLO LAMP POST!. You must not attack this Site or HELLO LAMP POST! via a denial-of-service attack or a distributed denial-of-service attack. </p>

				<p>1.45    By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any offence to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our Site and HELLO LAMP POST! will cease immediately.</p>

				<p>1.46    We will not be liable for any loss or damage caused by a denial-of-service attack, distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of this Site, HELLO LAMP POST! or to your downloading of any material on the same, or on any website linked to the same.</p>

				<h5>Disclaimer</h5>

				<p>1.47    Content, commentary, contributions and any other materials which are used or received as part of HELLO LAMP POST! [or posted in the Site] are not intended to amount to advice on which reliance should be placed. These are generic messages, automated responses, the personal opinions and other nonspecific information and are not our views [or the views of any of our group companies].  </p>

				<p>1.48    Therefore, we  recommend that you do not rely on those materials and we disclaim all liability and responsibility arising from any reliance placed on those materials by you or any Player or Visitor or any third party or by anyone who may be informed of any that material.  We do not verify the accuracy or completeness of any Content, commentary, contributions or any other materials used or received as part of HELLO LAMP POST! [or posted on this Site].  </p>

				<p>1.49    We aim to update our Site regularly, and may change the any content at any time. If the need arises, we may suspend access to our Site or HELLO LAMP POST!, or close it indefinitely. Any content on our Site or used or received as part of HELLO LAMP POST! may be out of date at any given time, and we are under no obligation to update the content.</p>

				<p>1.50    You understand and agree that any material, software and/or data downloaded or otherwise obtained through the use of the Site or HELLO LAMP POST! is at your own discretion and risk and that you will be solely responsible for any damage to your own computer system or loss of data that results from the download of such material, software and/or data.  We are not responsible for any damaged caused by the downloading of any material, software and/or data from the Site or HELLO LAMP POST!. </p>

				<p>1.51    Mention of third party products, services, companies and websites in the Site or HELLO LAMP POST! is for information purposes only and constitutes neither an endorsement nor a recommendation. </p>

				<p>1.52    You expressly agree that use of the Site and HELLO LAMP POST! is at your sole risk.</p>

				<p>1.53    We provide no assurances that the Content in the Site or used or received as part of HELLO LAMP POST! is capable of being used by you in the manner envisaged by the Terms. We also provide no assurances that the use by you of the Content will not infringe third party rights, such as copyright or rights to privacy. </p>

				<p>1.54    We make no warranty that the Site or HELLO LAMP POST! will be uninterrupted, secure or error free. We will not be liable if for any reason the Site or HELLO LAMP POST! is unavailable at any time or for any period. From time to time we may suspend or restrict access to the Site and/or HELLO LAMP POST! in order to carry out repairs, maintenance or to introduce new facilities.  </p>

				<h5>Limitation of Liability</h5>

				<p>1.55    While we have taken care in preparing the contents of the Site and HELLO LAMP POST!, we shall not be liable for any loss or damage arising out of or in connection with your use of the Site and/or HELLO LAMP POST! including, without limitation, indirect, or consequential loss or damage, loss of anticipated revenues, loss of profit, loss of business opportunities, loss of goodwill, loss or corruption of data or damage to reputation resulting from: (a) your use or your inability to use the Site or HELLO LAMP POST! or (b) any Content or other content found in the Site or used or received as part of HELLO LAMP POST! or (c) any reliance place on any information found in the Site or HELLO LAMP POST! or (d) unauthorised access to or alteration of your transmissions or data.
				Indemnity</p>

				<p>1.56    You agree to indemnify us and keep us indemnified from and against all costs, claims, expenses (including reasonable legal and professional fees and expenses), losses, damages and other liabilities suffered or incurred by us and arising out of or in connection with your use of the Site or HELLO LAMP POST!, or any breach of these Terms by you, or the infringement by you of any intellectual property or other right of any person or entity except to the extent that any such costs, expenses, losses, damages or other liabilities were caused or contributed to by any negligence or breach of these Terms by us.</p>

				<h5>Waiver</h5>

				<p>1.57    No delay or failure by us to insist upon or enforce performance of any provision of the Terms or to exercise any right under the Terms will be deemed to be a waiver or in any way prejudice our rights under these Terms.
				Severance</p>

				<p>1.58    If any provision in these Terms is declared void or unenforceable by any court or other body of competent jurisdiction, or is otherwise rendered so by any applicable law, such provision shall to the extent of such invalidity or unenforceability be deemed severable and all other provisions of these Terms not affected by such invalidity or unenforceability shall remain in full force and effect.</p>

				<h5>Jurisdiction and Governing Law</h5>

				<p>1.59    These Terms and all claims arising out of or in connection with these Terms, the Site and HELLO LAMP POST! shall be governed by and construed in accordance with the laws of England and Wales. Any dispute arising under these Terms or out of or in connection with the Site or HELLO LAMP POST! shall be subject to the exclusive jurisdiction of the courts of England and Wales.
				Your comments on this Site and HELLO LAMP POST!</p>

				<p>1.60    We welcome your comments on the quality and suitability of our Site and HELLO LAMP POST!  . You can provide comments by contacting us at <a href="mailto:hellolamppost@panstudio.co.uk">hellolamppost@panstudio.co.uk</a> We will consider all comments received, however we do not guarantee that we can make any changes to our Site or HELLO LAMP POST! where we feel this is not appropriate. </p>

				<h5>Contact us</h5>

				<p>1.61    If you have any questions about these Terms or any material which appears on our Site or as part of HELLO LAMP POST!, please contact us at <a href="mailto:hellolamppost@panstudio.co.uk">hellolamppost@panstudio.co.uk</a></p>
			</div>
		</div>
	</section>
</article>