// =================================================================
// 	Hello Lampost
// 	Footer
// =================================================================

.footer {
	padding: 20px 0 18px 0;
	background: $colorTwo;
	border-top: 1px solid darken($colorTwo, 5%);
	font-size: 16px;
	height: auto;
  bottom: 0;
  width: 100%;
	overflow: auto;
	clear: both;
	display: block;

	p {
		margin: 0;
		color: #fff;
		opacity: 0.7;
	}

	a {
		padding: 0;
		opacity: 0.7;
		margin: 0;
		color: #fff;
		border-bottom: 2px solid $colorThree;
		padding-bottom: 4px;
		transition: all 0.3s ease-in-out;
	}

	a:hover{
		opacity: 1;

	}

	.right {
		float: right;
		text-align: right;
	}

	@include mq("small", "max-width") {
		padding: 15px 0 13px 0;
		text-align: left;
	}

	@include mq("extra-small", "max-width") {
		.right{
			text-align: left;
		}
	}
}
