// =================================================================
// 	Mediapreview
// 	Header
// =================================================================

.header {
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 43px; // Take care of Malmo Masthead
	padding: 10px 0;
	background: #fff;
	height: 50px;
	transition: all 0.3s ease-in-out;

	&.nav-up {
    	top: -120px;
	}

	.logo img {
		margin-top: -25px;
		width: 170px;
	}

	nav {
		float: right;
		z-index: 20;

		ul {
			padding: 0;
			margin: 0;
		}

		ul li {
			list-style-type: none;
			float: left;
			margin-left: 10px;
		}
	}

	.menu {
		margin-top:8px;
		margin-right: 45px;

		ul li  {
			margin-right: 25px;
		}

		a {
			color: $colorTwo;
			font-size: 1.1em;
			font-family: gotham-bold, sans-serif;
			transition: all 0.2s ease-in-out;
			font-weight: 600;
			cursor: pointer;
			border-bottom: 2px solid #fff;
		}

		a:hover {
			border-bottom: 2px solid $colorTwo;
		}
	}

	.country-picker {

		ul li a {
			cursor: pointer;
			width: 38px;
			height: 38px;
			display: block;
			@include border-radius(100%);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 60px 50px;
			border: 2px solid $colorTwo;
		}

		ul li a.en {
			background-image: url('/images/flag-en.svg');
		}

		ul li a.sv {
			background-image: url('/images/sv.svg');
		}
	}

	@include mq("medium", "max-width") {
		.menu {
			display: none;
		}
	}

	@include mq("small", "max-width") {
		width: 100%;

		.link-exit {
			margin-top: -80px;
		}

		.col-3 {
			width: 100%;
		}

		.logo img {
			width: 110px;
			margin-top: -20px;
		}

		.col-3 img {
			display: block;
			margin: 25px auto;
			float: none;
		}
	}

	@include mq("nano", "max-width") {
		.logo img {
			width: 110px;
		}
	}
}

.en header .menu a {
	letter-spacing: -1px;
}
