// =================================================================
// 	Mediapreview
// 	Header
// =================================================================

#header {
  top: 0;
  width: 100%;
  height: 65px;
  z-index: 100;
  position: relative;
  padding: 10px 0;
  transition: top 0.7s;
  background: $colorWhite;

    .logo img {
      width: 200px;
    }

    nav {
      float: right;

      ul {
        li {
          float: left;
          margin-right: 20px;
          list-style-type: none;

          a {
            color: $colorTwo;
            text-decoration: none;

            img {
              width: 20px;
            }
          }

          a: before {
            left: 0;
            width: 100%;
            height: 2px;
            content: "";
            bottom: -2px;
            border-radius: 1px;
            position: absolute;
            visibility: hidden;
            transform: scaleX(0);
            -webkit-transform: scaleX(0);
            transition: all 0.2s ease-in-out 0s;
            -webkit-transition: all 0.2s ease-in-out 0s;
          }

          a:hover {
            color: $colorTwo;
          }

          a:hover:before {
            visibility: visible;
            transform: scaleX(1);
            -webkit-transform: scaleX(1);
          }
        }
      }
    }

    @include mq("medium", "max-width") {
      .logo img {
        width: 190px;
        margin-top: 2px;
        margin-left: 20px;
        margin-left: -10px; /*not sure why this is repeated*/
      }
      .burger {
        width: 50px;
        height: 50px;
        float: right;
        display: block;
        margin-right: 25px;
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-image: url('/images/hamburger.svg');

        &.active {
          background-image: url('/images/cross.svg');
        }
      }

      nav {
        width: 100%;
        display: none;
        margin-right: 0;
        margin-top: -40px;
        background: $colorOne;

        ul {
          margin: 32px 25px;
        }

        ul li {
          margin-bottom: 7px;
        }

        ul .menu-logo {
          width: 10px;
        }

        ul li a {
          font-size: 1.3em;
        }

        ul li:last-child {
          margin-bottom: 35px;
        }

        nav.active {
          display: block;
          padding-top: 30px;
        }
      }
    }

    @include mq("small", "max-width") {
      .logo img {
        width: 190px;
        margin-top: 2px;
        margin-left: -10px;
        margin-left: 20px;
      }
      nav {
        width: 100%;

        ul {
          text-align: left;

          li {
            width: 100%;
          }
        }
        nav.active {
          display: block;
          padding-top: 30px;
        }
      }
    }
}
