// =================================================================
// 	Hello Lampost
// 	Sections
// =================================================================

.hero {
	margin-top: 70px;
	overflow: hidden;
	height: calc(100vh - 70px);
	background: $colorTwo;

	.grid-container {
		position: relative;
	}

	.col-4 {
		margin-top: 25vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	h2 {
		color: #fff;
		font-size: 1.8em;
		line-height: 1.2;
	}

	.link-btn-one {
		margin-top: 30px;
		max-width: 250px;
	}

	.swiper-slide {
		overflow: none;
	}

	img {
		width: 110%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.7;
	}

	.bubble-holder {
		position: absolute;
		right: 20%;
		@include calc(width, "33.3% - 20px");
		top: 35vh;
	}

	.text-bubble {
		position: relative;
		float: right;
		width: auto;
		box-sizing: border-box;
		padding: 10px 20px;
		background: $colorTwo;
		@include border-radius(4px);
		margin-bottom: 25px;
		max-width: calc(100% - 40px);

		&:after {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			background: red;
			position: absolute;
			top: 0;
			right: -20px;
		}

		p {
			font-family: "Gotham-Medium", sans-serif;
			color: #fff;
			line-height: 1.3em;
		}
	}

	.text-bubble.object {
		background: $colorThree;
		color: $colorTwo;
	}
}

.how-to-play {
	width: 100%;
	clear: both;
	display: block;
	overflow: hidden;
	position: relative;
	background: $colorOne;

	.col-6 {
		padding: 80px 20px 80px 20px;
	}

	.pushed-column {
		padding-top: 148px;
	}

	h5 {
		margin-bottom: 50px;
		color: $colorTwo;
		border: 1px solid $colorTwo;
		width: intrinsic;
		max-width: 140px;
	}

	h1 {
		color: $colorTwo;
		line-height: 1.2;
		margin-bottom: 30px;
	}

	p {
		color: $colorTwo;
		opacity: 0.8;
	}

	p.small {
		margin-top: 5px;
	}

	&.active {
		display: block;
	}

	@include mq("small", "max-width") {
		.col-6 {
			width: 100%;
			padding: 50px 0px 0px 0px;
		}

		.pushed-column {
			padding-top: 0px;
			padding-bottom: 50px;
		}
	}
}

.object-icon {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: $colorThree;
	padding: 40px 0;

	.swiper-wrapper {
		height: 100%;
	}

	h2 {
		width: inherit;
		float: left;
		margin-right: 10px;
		margin-bottom: 70px;
		font-size: 1.7em;
		color: $colorTwo;
	}

	.swiper-slide {
		text-align: center;
    font-size: 18px;
    width: 16%;
	}

	.swiper-slide.bin {
		width: 14%;
	}

	.swiper-slide.pier {
		width: 45%;
	}

	.swiper-slide.box-three {
		width: 10%;
	}

	.swiper-slide.bike {
		width: 27%;
		margin-top: 15px;
	}

	.swiper-slide.pump {
		width: 6%;
		margin-top: 58px;
	}

	.swiper-slide.box-two {
		width: 15%;
		margin-top: 53px;
	}

	.active-object {
		color: #fff;
		background: rgba(255, 255, 255, 0.3);
		border-radius: 4px 4px 4px 0 ;
		padding: 3px 10px;
		margin-top: -6px;
		position: relative;

		&:after {
	  	content: "";
	  	display: block;
	  	background-image: url('/images/bubble_triangle_white_transparent.svg');
	  	background-position: 0 0;
	  	background-repeat: no-repeat;
	  	background-size: 100% 100%;
	  	width: 27px;
	  	height: 27px;
	  	position: absolute;
	  	bottom: -25px;
	  	left: 0;
	  }
	}

	.button-next, .button-prev {
		width: 35px;
		height: 35px;
		cursor: pointer;
		margin-top: 7px;
		display: block;
		float: right;
		background-image: url('/images/arrow-right.svg');
		opacity: 0.5;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: 0 0;
		@include transition(all, 0.2s, ease-in-out);

		&:hover {
			opacity: 1;
		}
	}

	.button-prev {
		margin-right: 5px;
		@include transform(rotate(180deg));
	}

	@include mq("small", "max-width") {
		padding: 10px 0;

		.button-next, .button-prev {
			display: none;
		}

		.swiper-slide {
			width: 100%;
		}

		.swiper-slide.box-one {
			width: 75px;
			margin-top: 35px;
		}

		.swiper-slide.bin {
			width: 75px;
			margin-top: 20px;
		}

		.swiper-slide.pier {
			width: 280px;
			margin-top: -4px;
		}

		.swiper-slide.box-three {
			width: 60px;
			margin-top: 4px;
		}

		.swiper-slide.bike {
			width: 170px;
			margin-top: 10px;
		}

		.swiper-slide.pump {
			width: 40px;
			margin-top: 30px;
		}

		.swiper-slide.box-two {
			width: 100px;
			margin-top: 28px;
		}

		h2 {
			width: 100%;
			color: #fff;
			margin-bottom: 20px;
			font-size: 1.7em;
			text-align: center;
		}

		h2.text-number {
			margin-bottom: 0px;
		}

		h2.active-object {
			padding: 10px 0;
			font-size: 1.5em;
			margin-bottom:20px;
			width: 100%;
			box-sizing: border-box;
		}

		.swiper-slide .image-object {
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
}

.information-longform {
	background: $colorOne;
	padding: 72px 0;
	height: auto;
	overflow: auto;

	.accordian {

		.accordian-item {
			cursor: pointer;
			border-top: 1px solid #C2A10D;
			padding: 20px 0;

			h4 {
				font-family: "Gotham-Bold", sans-serif;
				font-size: 1.1em;
				color: $colorTwo;

				&:after {
					transition: all 0.2s ease-in-out;
					content: "";
					display: block;
					width: 22px;
					height: 22px;
					float: right;
					@include transform(rotate(90deg));
					background-image: url('/images/arrow-right.svg');
					background-size: 100% 100%;
					background-repeat: no-repeat;
					background-position: 0 0;
				}
			}

			p {
				display: none;
				color: $colorTwo;
				cursor: text;
				padding-top: 20px;
			}

			&.active  {
				p {
					display: block;
				}

				h4:after {
					@include transform(rotate(-90deg));
				}
			}

			&:last-child {
				border-bottom: 1px solid #C2A10D;
			}
		}
	}

	h5 {
		border: 1px solid $colorTwo;
		color: $colorTwo;
	}

	h1 {
		margin: 35px 0;
		color: $colorTwo;
	}

	.col-6:first-child p {
		padding-right: 40px;
		box-sizing: border-box;
	}

	@include mq("small", "max-width") {
		padding: 50px 0;

		.col-6 {
			width: 100%;
		}

		h1 {
			margin: 20px 0;
		}

		.col-6:first-child {
			margin-bottom: 40px;
		}

		.col-6:first-child p {
			padding-right: 0;
		}
	}
}

.contact {
	width: 100%;
	clear: both;
	display: block;
	overflow: hidden;
	position: relative;
	background: $colorThree;
	padding: 60px 0 60px 0;

	.col-6 {
		box-sizing: border-box;
	}

	h5 {
		margin-bottom: 50px;
		color: $colorTwo;
		opacity: 0.8;
		border: 1px solid $colorTwo;
		width: intrinsic;
		max-width: 140px;
	}

	h1 {
		color: $colorTwo;
		font-family: "Gotham-Bold", sans-serif;
		line-height: 1.2;
		margin-bottom: 30px;
	}

	p {
		color: $colorTwo;
		opacity: 0.8;
	}

	p a {
		color: $colorTwo;
		border-bottom: 2px solid $colorTwo;
	}

	.link-btn-one {
		margin-top: 40px;
		background: $colorTwo;
		color: #fff;

		&:after {
			background-image: url('/images/arrow-blue.svg');
		}
	}

	.right-block {
		position: absolute;
		right: 0;
		background: $colorTwo;
		width: 40%;
		float: right;
		height: 100vh;
	}

	.col-4 {
		float: right;
		padding-top: 15px;
		text-align: center;
		position: relative;

		h3, p {
			color: $colorTwo;
			text-align: center;

		}

		.image-circle {
			box-sizing: border-box;
			width: 75%;
			display: block;
			margin: 35px auto;
			float: none;
		}

		span {
			color: #fff;
		}
	}

	@include mq("small", "max-width") {

		h5 {
			margin-bottom: 40px;
		}

		.col-6 {
			background: none;
			width: 100%;
		}

		p {
			font-size: 1em;
		}

		.col-4 {
			width: 100%;
			padding-top: 30px;
		}
	}
}

.supporters {
	height: auto;
	width: 100%;
	display: block;
	padding: 10px 0 0 0;
	height: auto;
	overflow: auto;
	background: #fff;

	h4 {
		color: #fff;
		margin-top: 40px;
	}

	.col-3 img {
		width: 80%;
		display: block;
		margin: 0 auto;
		float: none;
		padding: 0 20px;
	}

	.row:nth-child(2) {
		.col-3 img {
			padding-bottom: 0;
		}
	}

	@include mq("small", "max-width") {
		padding: 20px 0;

		h4 {
			text-align: center;
			margin-bottom: 40px;
			margin-top: 0px;
		}

		.col-3 {
			width: 50%;
			margin-left: 0;
			padding: 0;
			margin: 0;
		}

		.col-3 img {
			width: 90%;
			padding: 0 0;

		}
	}
}
