// =================================================================
// 	Hello Lampost
// 	Sections
// =================================================================

hr {
  //left: 0;
  width: 70px;
  padding: 2px;
  border: none;
  margin: -10px 0;
  position: absolute;
  border-radius: 25px;
  background-color: $colorTwo;
}


section {
  width: 100%;
  display: table;
  padding: 25% 0;
  margin: 0;
  max-width: none;
  height: 100vh;
  overflow: hidden;

  /*Tablet Media Query*/
  @include mq("extra-small", "min-width") {
    padding: 8% 0;
  }
}

.container-fluid {
  overflow: hidden;
}


.navbar {
  border: 0;
  font-size: 13px;
  position: fixed;
  margin-bottom: 0;
  color: $colorType;
  //letter-spacing: 1px;
  background-color: $colorWhite;

  .navbar-toggle {
    z-index: 1;
    border-color: transparent;

    .icon-bar {
      background-color: $colorThree;
    }
  }

  .navbar-brand {
    float: none;
    line-height: 0;
    padding: 0;
    position: absolute;

    img {
      top: 0;
      width: 35%;
    }
  }

  #myNavbar {
    .nav {
      li {
        a {
          color: $colorType;
        }
      }
    }
  }

  /*Laptop Media Query*/
  @include mq("small", "min-width") {
    font-size: 18px;

    .navbar-brand {
      width: 25%;

      img {
        width: 40%;
      }
    }
  }
}


#hero {
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/bg.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .herotext {
    z-index: 1;
    margin-top: 20%;
    color: $colorWhite;
    position: absolute;


    h1 {
      line-height: 1.2;
      font-size: 250%;
    }

    .link-btn-one {
      margin-top: 30px;
    }

    a {
      text-decoration: none;
    }
  }


  /*Tablet Media Query*/
  @include mq("extra-small", "min-width") {
    .herotext {
      margin-top: 15%;
    }
  }

  /*Laptop Media Query*/
  @include mq("large", "min-width") {
    .herotext {
      h1 {
        font-size: 350%;
      }
    }
  }
}


#about {
  //padding: 0;
  /*background-size: 35%;
  background-position: top right;
  background-repeat: no-repeat;
  background-image: url("/images/iPhone-XS-Convo.png");
  background-color: $colorWhite;*/

  .abouttext {
    padding: 0 6%;

    .link-btn-one {
      margin-top: 30px;

      &:after {
        background-image: url('/images/arrow-black.svg');
      }
    }
    a {
      text-decoration: none;
    }

    .link-btn-one:after {
  		@include transform(rotate(90deg));
  		@include transition(all, 0.3s, ease-in-out);
  	}

  	.link-btn-one.active:after {
  		@include transform(rotate(-90deg));
  	}
  }

  .bgphone {
    img {
      width: 75%;
      margin: 0 13%;
    }
  }


  /*Tablets Media Query*/
  @include mq("small", "max-width") {
    .bgphone {
      img {
        //width: 50%;
        margin-top: 10%;
      }
    }
  }
}


.bg1 {
  height: 700px;
  background-attachment: fixed;
  background-position: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/bg-how-it-works.jpg");
}


.bg2 {
  height: 700px;
  background-attachment: fixed;
  background-position: 75%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/header-image-1.jpg");
}


#process {
  height: 70vh;
  background-image: -webkit-linear-gradient(90deg, $colorWhite 50%, $colorThree 50%);

  h2 {
    margin-bottom: 20px;
  }

  .row {
    margin-top: 60px;

    .col-sm-4 {
      padding-top: 20px;
      padding-bottom: 20px;

      .process-item {
        width: 270px;
        margin: 0 auto;
        display: block;
        text-align: center;
        position: relative;

        .image-circle {
          width: 170px;
          display: block;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 30px;

          &:after {
            background-color: $colorTwo;
          }
        }

        h4 {
          color: $colorTwo;
          margin-bottom: 10px;
          font-family: "Gotham-Bold", sans-serif;
        }
        p, span {
          color: $colorTwo;
        }
      }
    }
    .col-4:last-child .process-item:last-child:after {
      display: none;
    }
  }
}


#use-cases {
  height: 70vh;
  background-color: $colorOne;

  .row {
    margin: 20px 20px 40px 20px;
  }

  .col-sm-3 {
    padding: 6% 0;
    margin: 10%;
    height: 16rem;
    @include border-radius(8px);
    background-color: $colorWhite;

    .image-circle {
      width: 100px;
      margin: 0 auto;
      margin-bottom: 30px;
      border: 2px solid $colorThree;
      background-color: $colorThree;

      img {
        top: 17px;
        left: 17px;
        width: 65%;
        margin: 0 auto;
      }
    }

    h3 {
      font-size: 100%;
      text-align: center;
    }
  }
  a {
    text-decoration: none;
  }

  .link-btn-one {
    margin: 0 auto;
    color: $colorOne;
    background-color: $colorTwo;

    &:after {
      background-image: url('/images/arrow-yellow.svg');
    }

    &:hover {
      color: $colorTwo;
      background-color: $colorWhite;

      &:after {
        background-image: url('/images/arrow-black.svg');
      }
    }
  }
  /*Laptop Media Query*/
  @include mq("extra-small", "min-width") {
    .col-sm-3 {
      width: 23%;
      padding: 4% 0;
      margin: .9%;
    }
  }
}


#location {
  height: 80vh;
  position: relative;
  background: $colorTwo;

  #map {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;

    .marker {
      @include border-radius(100px);
      background: $colorThree;
      box-shadow: 0px 0px 10px darken($colorTwo, 2%);
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .mapboxgl-popup {

      .mapboxgl-popup-tip {
        border-bottom-color: $colorOne;
        border-top-color: $colorOne;
      }

      //My attempt at solving it :(

      .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-right-color: #FFD100;
      }

      .mapboxgl-popup-content {
        text-align: center;
        background: $colorOne;
        font-family: "Gotham", sans-serif;
        padding: 15px;

        .image-circle {
          float: left;
          width: 50px;
          backgorund: $colorTwo;
        }

        .mapboxgl-popup-close-button {
          display: none;
        }

        .info {
          float: left;
          margin-left: 15px;
        }

        h3 {
          font-size: 1.3em;
          color: $colorTwo;
          font-family: "Gotham-bold", sans-serif;
        }

        a {
          float: left;
          clear: both;
          padding: 0 !important;
          font-size: 1.1em;
          font-family: "Gotham-Medium", sans-serif;
          color: $colorTwo;
          border-bottom: 2px solid $colorTwo;
        }

        a.true {
          display: none;
        }
      }
    }
  }

  .col-sm-6 {
    box-sizing: border-box;

    hr {
      margin: 20px 0;
      background: $colorOne;
    }
    h5 {
      color: $colorOne;
      margin: 0;
    }
    p {
      color: $colorWhite;
      font-family: "Gotham-Medium", sans-serif;
    }
    a {
      text-decoration: none;
    }
    .link-btn-one {
      background: $colorOne;

      &:hover {
        color: $colorTwo;
        background: $colorThree;

        &:after {
          background-image: url('/images/arrow-black.svg');
        }
      }
    }

    .link-btn-one:after {
      @include transform(rotate(90deg));
      @include transition(all, 0.3s, ease-in-out);
    }

    .link-btn-one.active:after {
      @include transform(rotate(-90deg));
    }
  }
}


#feature {
  height: auto;
  padding: 0;
  background-color: $colorWhite;

  .col-sm-12 {
    height: 100%;
    padding-top: 25%;
    padding-bottom: 15%;

    .row {
      padding: 0 5%;
    }
  }

  .left {
    .logo {
      height: 25vh;
      margin-top: 10%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("/images/press/playable-city.jpg");
    }
  }

  .right {
    //padding: 8% 0;
    background-color: #0033a0;

    h2, p {
      color: $colorWhite;
    }
     hr {
      background-color: $colorWhite;
     }

    .logo {
      height: 30vh;
      margin-top: 10%;
      background-size: 130%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #0033a0;
      background-image: url("/images/press/ldn-lab-whitetext.jpg");
    }
  }

  /*Tablet Media Query*/
  @include mq("extra-small", "min-width") {
    .col-sm-12 {
      padding-top: 8%;
      padding-bottom: 8%;
    }
    .left {
      .logo {
        background-size: 70%;
      }
    }
  }
}


#press {
  //display: inline-grid;
  padding: 0;
  height: auto;
  overflow: hidden;
  background-color: $colorTwo;

  $animationSpeed: 40s;

  // Animation
  @keyframes scroll {
    0% { margin-left: 0px; }
    100% { margin-left: -1840px; }
  }

  .slider {
    width: 100%;
    overflow: hidden;
    position: relative;

    .track {
      display: inline-flex;
      //padding-top: 1%;
      //width: calc(250px * 14);
      animation: scroll $animationSpeed linear infinite;
      -o-animation: scroll $animationSpeed linear infinite;
      -ms-animation: scroll $animationSpeed linear infinite;
      -moz-animation: scroll $animationSpeed linear infinite;
      -webkit-animation: scroll $animationSpeed linear infinite;

      .slide-img {
        width: 180px;

        img {
          width: 100%;
          opacity: 0.5;
          padding: 0 10px;
          transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
        }

        img:hover {
          cursor: pointer;
          opacity: 1;
          transform: scale(1.2);
          -o-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -webkit-transform: scale(1.2);
        }
      }
    }
  }
}


#contact {
  //background-image: -webkit-linear-gradient(90deg, $colorOne 60%, $colorWhite 50%);
  background-color: $colorOne;
  height: 65vh; //delete once form is fixed
  a {
    text-decoration: none;
  }

  //DELETE THESE CHANGES ONCE FORM IS FIXED
  .link-btn-one {
    //color: $colorWhite;
    background-color: $colorWhite;
  }

  .link-btn-one:hover {
    background-color: $colorTwo;
  }

  .col-sm-7 {
    width: 100%;

    .contact-form {
      margin: 0 auto;
      padding-top: 40%;

      fieldset {
        width: 100%;
      }
    }
  }
  /*Tablet Media Query*/
  @include mq("extra-small", "min-width") {
  //background-image: -webkit-linear-gradient(180deg, $colorOne 60%, $colorWhite 50%);
  background-color: $colorOne;

    .col-sm-7 {
      width: 50%;
      float: right;

      .contact-form {
        padding-top: 40px;

        fieldset {
          width: calc(50% - 15px);
        }
      }
    }
  }
}




//==========================================================
//Projects page
//==========================================================
#projects {

  #usecase {
    height: auto;
    margin-top: 60px;
    background-color: $colorOne;

    .row {
      margin: 20px 20px 0 20px;
    }

    .col-sm-3 {
      padding: 6% 0;
      margin: 10%;
      height: 16rem;
      @include border-radius(8px);
      background-color: $colorWhite;

      .image-circle {
        width: 100px;
        margin: 0 auto;
        margin-bottom: 30px;
        border: 2px solid $colorThree;
        background-color: $colorThree;

        img {
          top: 17px;
          left: 17px;
          width: 65%;
          margin: 0 auto;
        }
      }

      h3 {
        font-size: 100%;
        text-align: center;
      }
    }
    a {
      text-decoration: none;
    }

    /*Laptop Media Query*/
    @include mq("extra-small", "min-width") {
      .col-sm-3 {
        width: 23%;
        padding: 4% 0;
        margin: .9%;
      }
    }
  }

  #case {
    padding: 0;
    height: 80vh;
    display: unset;

    #more {
      display: none;
    }

    .btn {
      font-size: 100%;
      display: inline;

      a {
        text-decoration: none;
      }

      .link-btn-one {
        margin: 0 auto;
        transition: .5s ease;

        &:hover {
          color: $colorOne;
          background-color: $colorTwo;
        }
      }
      .link-btn-one:after {
        background-image: none;
      }
    }


    .row {
      margin: 0;

      .col-sm-6 {
        height: 60vh;
        background-size: cover;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;

        .text {
          top: 50%;
          left: 50%;
          position: absolute;
          color: $colorWhite;
          text-align: center;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

          h1 {
            font-size: 3rem;
            color: $colorWhite;
          }
        }

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .5s ease;
          background-color: $colorThree;

          .text {
            top: 50%;
            left: 50%;
            width: 80%;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            p {
              color: $colorWhite;
            }

            .stats {
              margin-top: 40px;

              .col-sm-4 {
                height: 160px;
                //border-right: 3px solid $colorWhite;

                h1 {
                  font-size: 2rem;
                  padding-bottom: 0;
                }
              }
              .col-sm-4:last-child {
                border-right: none;
              }
            }
          }
        }

        .overlay:hover {
          cursor: pointer;
          opacity: 1;
        }
      }

      .malmo {
        background-image: linear-gradient(rgba(42, 42, 42, 0.5), rgba(42, 42, 42, 0.5)), url("/images/malmo.jpg");
      }
      .mesa {
        background-image: linear-gradient(rgba(42, 42, 42, 0.5), rgba(42, 42, 42, 0.5)), url("/images/hlp_mesa2.jpg");
      }
      .austin {
        background-image: linear-gradient(rgba(42, 42, 42, 0.5), rgba(42, 42, 42, 0.5)), url("/images/hlp_austin1.jpg");
      }
      .brstl {
        background-image: linear-gradient(rgba(42, 42, 42, 0.5), rgba(42, 42, 42, 0.5)),url("/images/hlp_bristol1.jpg");
      }
      .sing {
        background-image: linear-gradient(rgba(42, 42, 42, 0.5), rgba(42, 42, 42, 0.5)), url("/images/hlp-singapore.jpg");
      }
      .utrecht {
        background-image: linear-gradient(rgba(42, 42, 42, 0.5), rgba(42, 42, 42, 0.5)), url("/images/hlp-utrecht.jpg");
      }
    }
  }

  #testimonials {
    height: auto;
    background-color: $colorTwo;

    #myCarousel {
      background-color: $colorTwo;

      .carousel-inner {
        width: 70%;
        margin: 0 auto;

        .item {
          p {
            font-size: .9rem;
            text-align: center;
            color: $colorWhite;
          }
          .customer {
            font-size: .8rem;
            margin-top: 10px;
            font-style: italic;
            font-weight: bolder;
          }
        }
      }

      .carousel-control {
        opacity: 1;
        background-image: none;

        span {
          &:hover {
            color: $colorThree;
          }
        }
      }

      .carousel-indicators {
        bottom: -50px;
      }
    }
  }

  /*Mobile Phone Media Query*/
  @include mq("extra-small", "min-width") {

    #myCarousel {
      .carousel-inner {
        .item {
          p {
            font-size: 1.3rem;
          }
          .customer {
            font-size: .9rem;
          }
        }
      }
    }
  }
}
