// =================================================================
// 	Hello Lampost
// 	Sections
// =================================================================

.pop-up {
	display: block;
	width: 320px;
	background: #44BFEF;
	position: absolute;
	top: 0;
	right: 0;
	padding: 18px 0px 18px 0px;
	box-sizing: border-box;
	height: auto;
	z-index: 1000;

	p {
		color: #fff;
		padding: 0;
		padding-right: 20px;
		font-size: 14px;
	}

	span {
		color: #E5087E;
	}

	p:after {
		content: "";
		display: block;
		position: absolute;
		top: 20px;
		right: 0px;
		width: 18px;
		height: 18px;
		background-image: url('/images/arrow-pink.svg');
		background-size: 100% 100%;
		background-position: 0 0;
	}

	@include mq("small", "max-width") {
		width: 100%;
		position: relative;
		padding: 15px 0;

		p {
			font-size: 12px;
			width: 92%;
		}

		p:after {
			top: 32%;
			right: 0px;
		}
	}

	@include mq("nano", "max-width") {
		p {
			font-size: 12px;
			width: 85%;
		}
	}
}

.hero {
	width: 100%;
	height: auto;
	overflow: auto;
	margin: 0;
	padding: 50px 0 50px 0;
	background: $colorThree;
	position: relative;
	overflow: hidden;

	.col-6 {
		float: none;
		display: block;
		margin: auto;
	}

	.col-8 {
		float: none;
		display: block;
		margin: auto;
	}

	h2 {
		font-size: 1.5em;
		text-align: center;
		font-weight: 500;
		line-height: 1.1;
		padding: 0 40px;
		margin-bottom: 30px;
		color: #fff;
	}

	.link-btn-one {
		display: block;
		margin: 25px auto 0 auto;
		padding: 12px 15px 12px 15px;

		&:after {
			background-image: url('/images/play.svg');
			width: 13px;
			height: 13px;
			margin-top: 2px;
		}
	}

	.col-4 {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	img {
		width: 100%;
		height: auto;
	}

	.image-bottom {
		bottom: 0;
		position: absolute;
		width: 100%;
		height: auto;
	}

	.information-holder {
		z-index: 50;
	}

	.scroll-down-button {
		padding-bottom: 20px;
		text-align: center;
		font-family: "Gotham-bold", sans-serif;
		color: #fff;
		display: none;
		width: 100%;
		z-index: 10;
		position: absolute;
		bottom: 100px;
		font-size: 16px;
		overflow: visible;

		&:after {
			content: "";
			display: inline-block;
			padding-top: -10px;
			margin-left: 10px;
			vertical-align: -3px;
			width: 20px;
			height: 30px;
			background-image: url('/images/arrow-down.svg');
			background-size: 100% 100%;
			background-position: 0 2px;
			background-repeat: no-repeat;
		}
	}

	.object-ref a {
	  border-bottom: 2px solid black;
	}

	@include mq("medium", "max-width") {
		.col-4 {
			width: 350px;
		}

		.scroll-down-button {
			bottom: 60px;
			display: none;
		}


		img {
			display: block;
			width: 150%;
			height: auto;
			float: none;
			margin: 0 auto;
		}
	}

	@include mq("small", "max-width") {
		height: auto;
		overflow: hidden;
		margin-top: 68px;
		max-height: auto;
		padding: 45px 0 0 0;

		.col-6 {
			width: 100%;
		}

		.col-8 {
			width: 100%;
		}

		.scroll-down-button {
			display: none;
		}

		h2 {
			font-size: 1.3em;
			line-height: 1.3;
			padding: 0;
			margin: 30px 0 30px 0;
		}

		.text-row {
			margin-top: 0px;
		}

		.shift-2 {
			margin-left: 0;
		}
	}

	@include mq("super-small", "max-width") {
		.scroll-down-button {
			bottom: 50px;
		}
	}

	@include mq("nano", "max-width") {

		h1 {
			font-size: 1.2em;
		}

		.col-6-fake {
			@include calc(width, "100% - 40px");
		}
	}
}

.hero.message {
	background: $colorOne;
	height: 500px;

	h1 {
		text-align: center;
		color: $colorTwo;
		padding-bottom: 0;
	}

	.text-row {
		position: relative;
		z-index: 50;
		margin: 0;

		.col-6 {
			display: block;
			float: none;
			margin: 0 auto;
			color: #fff;
		}

		.col-6 h1 {
			font-weight: 500;
			font-size: 1.55em;
			padding-bottom: 20px;
		}
	}

	.bubble {
		margin-top: 40px;
	  @include calc(width, "50% - 15px");
	  box-sizing: border-box;
	  position: absolute;
	  z-index: 10;
	}

	.bubble.question {
	  left: 0;
	  @include transform(translateX(0%));
	  @include transition(all, 0.5s, ease-in-out);
	}

	.bubble.answer {
	  right: 0;
	  @include transform(translateX(0%));
	  @include transition(all, 0.5s, ease-in-out);
	}

	img.bg-image {
		position: absolute;
		top: 0;
		z-index: 0;
	}

	.bubble.question {
	  top: 60px;
	}

	.bubble.answer {
	  top: 80px;
	}

	.bubble .bubble-inner {
	  width: 100%;
	  box-sizing: border-box;
	  padding: 25px;
	  background: $colorTwo;
	  color: #fff;
	  z-index: 2;
	  font-size: 21px;
	  font-family: "Gotham-bold", sans-serif;
	  line-height: 1.3;
	   @include border-radius(0 10px 10px 10px);

	  &:after {
	  	content: "";
	  	display: block;
	  	background-image: url('/images/bubble_triangle.svg');
	  	background-position: 0 0;
	  	background-repeat: no-repeat;
	  	background-size: 100% 100%;
	  	width: 40px;
	  	height: 40px;
	  	position: absolute;
	  	top: -30px;
	  	left: 0;
	  }
	}

	.bubble.answer .bubble-inner {
		@include border-radius( 10px 10px 0 10px);

		&:after {
			top: auto;
			bottom: -30px;
			@include transform(rotate(180deg));
			right: 0;
			left: auto;
		}
	}

	.bubble h4 {
		color: #ECBE2B;
		font-family: "Gotham-bold", sans-serif;
		padding-bottom: 20px;
	}

	.bubble.question h4 {
		color: #4BC0ED;
	}

	.bubble.answer.off {
	  @include transform(translateX(150%));
	  right: 0;
	  @include transition(all, 0.5s, ease-in-out);
	}

	.bubble.question.off {
	  @include transform(translateX(-150%));
	  left: 0;
	  @include transition(all, 0.5s, ease-in-out);
	}

	.bubble.question .text {
	  border-bottom-left-radius: 0;
	}

	.bubble.answer .text {
	  border-top-right-radius: 0;
	}

	.buttons {
		width: 400px;
		position: relative;
		display: block;
		top: 290px;
		margin: 0 auto;
		z-index: 10;
	}

	button {
		float: left;
		@include calc(width, "50% - 15px");
		padding: 15px 15px;
		margin-right: 30px;
		margin: 0;
		font-family: "Gotham-bold", sans-serif;
		background: #2A2A2A;
		color: #fff;
		border: 0;
		font-size: 0.9em;
		box-sizing: border-box;
		border-radius: 0;
		@include border-radius(5px);
		-webkit-appearance: none;
   		-moz-appearance: none;
   		appearance: none;
   		cursor: pointer;

   		&:hover {
   			color: #ECBE2B;
   		}

   		&:after {
				content: "";
				display: block;
				width: 17px;
				height: 17px;
				background-image: url('/images/arrow-yellow.svg');
				margin-top: 2px;
				background-size: 100% 100%;
				background-position: 0 0;
				float: right;
				margin-left: 10px;
			}
   	}

   	button.new-question {
   		&:after {
   			@include transform(rotate(180deg));
   			float: left;
   			background-image: url('/images/arrow-blue.svg');
   			margin-left: 0px;
   			margin-right: 10px;
   		}

   		&:hover {
   			color: #4BC0ED;
   		}
   	}

   	button:nth-child(2) {
   		float: right;
   	}

	.bubble.question .shadow {
	  left: -40px;
	}

	.bubble.answer .shadow {
	  top: 190px;
	  left: 40px;
	}

	.bubble.question {
	  padding-bottom: 25px;
	}

	.bubble.answer {
	  padding-top: 25px;
	}

	.bubble .object-ref {
		font-family: "Gotham-bold", sans-serif;
		color: #fff;
	  height: 25px;
	  padding-top: 8px;
	  padding-left: 10px;
	  padding-right: 10px;
	  position: absolute;
	  top: 50px;
		right: 25px;
	  border-radius: 2px 2px 0 0;
	  z-index: 2;
	  opacity: 0;
		display: none;
	}

	.bubble .object-ref a {
		color: #fff;
		border-bottom: 0;
	}

	@include mq("small", "max-width") {
		height: 650px;
		padding: 20px 0;

		img.bg-image {
			position: absolute;
			top: 0;
			z-index: 0;
			width: 400%;
		}

		.buttons {
			width: 100%;
			top: 380px;
		}


		.buttons button:after {
			display: none;
		}

		.text-row {
			margin-top: 40px;
		}

		.text-row .col-6 {
			width: 100%;

			h1 {
				font-size: 1.6em;
				text-align: left;
				line-height: 1.3;
				width: 210px;
			}
		}

		.bubble {
			width: 100%;
			font-size: 0.8em;
		}

		.bubble.question {
			margin-top: 80px;
		}

		.bubble-inner {
			font-size: 16px;
		}

		.bubble-inner h4 {
			font-size: 16px;
		}

		.bubble-inner .text {
			font-size: 16px;
		}

		.bubble.answer {
	  		top: 220px;
		}
	}
}

.hero.video {
	height: 75vh;
	max-height: 650px;

	img.bg-image {
		width: 200%;
	}

	.col-6-fake {
		top: 55%;
	}

	.image-bottom {
		top: 0;
		@include transform(rotate(180deg));
		bottom: auto;
	}

	@include mq("small", "max-width") {
		height: 50vh;

		.col-6-fake {
			top: 55%;
		}
	}
}

.process {
	background: $colorThree;
	height: auto;
	overflow: auto;
	width: 100%;
	padding: 70px 0;

	.col-4:last-child .process-item:last-child:after {
		display: none;
	}

	.right-img{
      top: 55px;
	}

	.top-img {
    margin-right: 15px;
    top: -22px;
    right: -1px;
	}

	.process-item {
		width: 270px;
		display: block;
		margin: 0 auto;
		text-align: center;
		position: relative;

		h4 {
			font-family: "Gotham-Bold", sans-serif;
			color: #fff;
			margin-bottom: 10px;
		}

		p, span {
			color: #fff;
		}

		&:after {
			content: "";
			display: block;
			width: 100px;
			top: 80px;
			right: -115px;
			position: absolute;
			height: 15px;
			background-image: url('/images/large-arrow.svg');
			background-size: 100% 100%;
			background-position: 0 0;
		}
	}

	p a {
		color: #fff;
	}

	.top-img {
		position: absolute;
    top: -25px;
    left: 0;
    z-index: 10;
    width: 210px;
    margin-left: auto;
    margin-right: 25px; /* auto */
    left: 0;
    right: 0;
	}

	.right-img {
		position: absolute;
		top: 40px;
		z-index: 20;
		width: 100px;
		right: -10px;
	}

	.right-img-large {
    width: 125px;
    right: -20px;
  }

	.image-circle {
		width: 170px;
		display: block;
		margin: 0 auto;
		text-align: center;
		border: 3px solid #fff;
		margin-bottom: 30px;

		img {
			width: 100%;
		}
	}

	@include mq("medium", "max-width") {
		.process-item:after {
			right: -80px;
		}
	}

	@include mq("small", "max-width") {
		padding: 50px 0 0 0;

		.col-4 {
			width: 100%;
		}

		h4 {
			font-size: 1.3em;
		}

		.process-item {
			width: 250px;
			display: block;
			margin: 0 auto;
			float: none;
			padding-bottom: 50px;
		}

		.image-circle {
			width: 180px;
		}

		.process-item:after {
			display: none;
		}

		.right-img {
			top: 55px;
		}

		.top-img {
			margin-right: 15px;
			top: -22px;
			right: -1px;
		}
	}
}

.call-to-action {
	width: 100%;
	height: auto;
	padding: 100px 0;
	background: darken($colorTwo, 5%);
	height: auto;
	overflow: visible;

	a {
		margin: 0 auto;
		display: block;
	}

	@include mq("small", "max-width") {
		padding: 50px 0;

		.link-messenger {
			font-size: 1.3em;
		}
	}

	@include mq("nano", "max-width") {
		.link-messenger {
			font-size: 1.2em;
			padding: 22px 35px;
		}

		.link-messenger:after {
			width: 25px;
			height: 25px;
		}
	}
}

.information {
	width: 100%;
	clear: both;
	display: block;
	overflow: hidden;
	position: relative;
	background: #fff;

	img {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		height: auto;
	}

	.col-6 {
		background: #fff;
		float: right;
		box-sizing: border-box;
		@include calc(padding-left, "8.33% + 2px");
		padding-top: 80px;
		padding-bottom: 80px;
	}

	h5 {
		margin-bottom: 50px;
		color: $colorTwo;
		border: 1px solid $colorTwo;
	}

	h1 {
		color: $colorTwo;
		line-height: 1.2;
		margin-bottom: 30px;
	}

	p {
		color: $colorTwo;
		opacity: 0.8;
	}

	.link-btn-one {
		margin-top: 40px;
		background: $colorOne;
		color: $colorTwo;
	}

	.link-btn-one:after {
		@include transform(rotate(90deg));
		@include transition(all, 0.3s, ease-in-out);
	}

	.link-btn-one.active:after {
		@include transform(rotate(-90deg));
	}

	.right-block {
		position: absolute;
		right: 0;
		background: #fff;
		width: 40%;
		float: right;
		height: 100%;
	}

	@include mq("medium", "max-width") {
		.right-block {
			display: none;
		}

		img {
			top: 0;
			bottom: auto;
			position: relative;
		}

		h5 {
			margin-bottom: 40px;
		}

		.col-6 {
			background: none;
			padding: 50px 0;
			width: 100%;
		}
	}

	@include mq("extra-large", "min-width") {
		.col-6 {
			padding-top: 100px;
			padding-bottom: 100px;
		}
	}
}

.how-to-play {
	width: 100%;
	clear: both;
	display: block;
	overflow: hidden;
	position: relative;
	background: $colorOne;
	display: none;

	.col-6 {
		padding: 80px 20px 80px 20px;
	}

	.pushed-column {
		padding-top: 148px;
	}

	h5 {
		margin-bottom: 50px;
		color: $colorTwo;
		border: 1px solid $colorTwo;
		width: intrinsic;
		max-width: 140px;
	}

	h1 {
		color: $colorTwo;
		line-height: 1.2;
		margin-bottom: 30px;
	}

	p {
		color: $colorTwo;
		opacity: 0.8;
	}

	p.small {
		margin-top: 5px;
	}

	&.active {
		display: block;
	}

	@include mq("small", "max-width") {
		.col-6 {
			width: 100%;
			padding: 50px 0px 0px 0px;
		}

		.pushed-column {
			padding-top: 0px;
			padding-bottom: 50px;
		}
	}
}

.object-icon {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: $colorThree;
	padding: 40px 0;

	.swiper-wrapper {
		height: 100%;
	}

	h2 {
		width: inherit;
		float: left;
		margin-right: 10px;
		margin-bottom: 70px;
		font-size: 1.7em;
		color: $colorTwo;
	}

	.swiper-slide {
		text-align: center;
    font-size: 18px;
    width: 16%;
	}

	.swiper-slide.bin {
		width: 14%;
	}

	.swiper-slide.pier {
		width: 45%;
	}

	.swiper-slide.box-three {
		width: 10%;
	}

	.swiper-slide.bike {
		width: 27%;
		margin-top: 15px;
	}

	.swiper-slide.pump {
		width: 6%;
		margin-top: 58px;
	}

	.swiper-slide.box-two {
		width: 15%;
		margin-top: 53px;
	}

	.active-object {
		color: #fff;
		background: rgba(255, 255, 255, 0.3);
		border-radius: 4px 4px 4px 0 ;
		padding: 3px 10px;
		margin-top: -6px;
		position: relative;

		&:after {
	  	content: "";
	  	display: block;
	  	background-image: url('/images/bubble_triangle_white_transparent.svg');
	  	background-position: 0 0;
	  	background-repeat: no-repeat;
	  	background-size: 100% 100%;
	  	width: 27px;
	  	height: 27px;
	  	position: absolute;
	  	bottom: -25px;
	  	left: 0;
	  }
	}

	.button-next, .button-prev {
		width: 35px;
		height: 35px;
		cursor: pointer;
		margin-top: 7px;
		display: block;
		float: right;
		background-image: url('/images/arrow-right.svg');
		opacity: 0.5;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: 0 0;
		@include transition(all, 0.2s, ease-in-out);

		&:hover {
			opacity: 1;
		}
	}

	.button-prev {
		margin-right: 5px;
		@include transform(rotate(180deg));
	}

	@include mq("small", "max-width") {
		padding: 10px 0;

		.button-next, .button-prev {
			display: none;
		}

		.swiper-slide {
			width: 100%;
		}

		.swiper-slide.box-one {
			width: 75px;
			margin-top: 35px;
		}

		.swiper-slide.bin {
			width: 75px;
			margin-top: 20px;
		}

		.swiper-slide.pier {
			width: 280px;
			margin-top: -4px;
		}

		.swiper-slide.box-three {
			width: 60px;
			margin-top: 4px;
		}

		.swiper-slide.bike {
			width: 170px;
			margin-top: 10px;
		}

		.swiper-slide.pump {
			width: 40px;
			margin-top: 30px;
		}

		.swiper-slide.box-two {
			width: 100px;
			margin-top: 28px;
		}

		h2 {
			width: 100%;
			color: #fff;
			margin-bottom: 20px;
			font-size: 1.7em;
			text-align: center;
		}

		h2.text-number {
			margin-bottom: 0px;
		}

		h2.active-object {
			padding: 10px 0;
			font-size: 1.5em;
			margin-bottom:20px;
			width: 100%;
			box-sizing: border-box;
		}

		.swiper-slide .image-object {
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
}

.information-longform {
	background: $colorOne;
	padding: 72px 0;
	height: auto;
	overflow: auto;

	.accordian {

		.accordian-item {
			cursor: pointer;
			border-top: 1px solid #C2A10D;
			padding: 20px 0;

			h4 {
				font-family: "Gotham-Bold", sans-serif;
				font-size: 1.1em;
				color: $colorTwo;

				&:after {
					transition: all 0.2s ease-in-out;
					content: "";
					display: block;
					width: 22px;
					height: 22px;
					float: right;
					@include transform(rotate(90deg));
					background-image: url('/images/arrow-right.svg');
					background-size: 100% 100%;
					background-repeat: no-repeat;
					background-position: 0 0;
				}
			}

			p {
				display: none;
				color: $colorTwo;
				cursor: text;
				padding-top: 20px;
			}

			&.active  {
				p {
					display: block;
				}

				h4:after {
					@include transform(rotate(-90deg));
				}
			}

			&:last-child {
				border-bottom: 1px solid #C2A10D;
			}
		}
	}

	h5 {
		border: 1px solid $colorTwo;
		color: $colorTwo;
	}

	h1 {
		margin: 35px 0;
		color: $colorTwo;
	}

	.col-6:first-child p {
		padding-right: 40px;
		box-sizing: border-box;
	}

	@include mq("small", "max-width") {
		padding: 50px 0;

		.col-6 {
			width: 100%;
		}

		h1 {
			margin: 20px 0;
		}

		.col-6:first-child {
			margin-bottom: 40px;
		}

		.col-6:first-child p {
			padding-right: 0;
		}
	}
}

.contact {
	width: 100%;
	clear: both;
	display: block;
	overflow: hidden;
	position: relative;
	background: $colorThree;
	padding: 60px 0 60px 0;

	.col-6 {
		box-sizing: border-box;
	}

	h5 {
		margin-bottom: 50px;
		color: $colorTwo;
		opacity: 0.8;
		border: 1px solid $colorTwo;
		width: intrinsic;
		max-width: 140px;
	}

	h1 {
		color: $colorTwo;
		font-family: "Gotham-Bold", sans-serif;
		line-height: 1.2;
		margin-bottom: 30px;
	}

	p {
		color: $colorTwo;
		opacity: 0.8;
	}

	p a {
		color: $colorTwo;
		border-bottom: 2px solid $colorTwo;
	}

	.link-btn-one {
		margin-top: 40px;
		background: $colorTwo;
		color: #fff;

		&:after {
			background-image: url('/images/arrow-blue.svg');
		}
	}

	.right-block {
		position: absolute;
		right: 0;
		background: $colorTwo;
		width: 40%;
		float: right;
		height: 100vh;
	}

	.col-4 {
		float: right;
		padding-top: 15px;
		text-align: center;
		position: relative;

		h3, p {
			color: $colorTwo;
			text-align: center;

		}

		.image-circle {
			box-sizing: border-box;
			width: 75%;
			display: block;
			margin: 35px auto;
			float: none;
		}

		span {
			color: #fff;
		}
	}

	@include mq("small", "max-width") {

		h5 {
			margin-bottom: 40px;
		}

		.col-6 {
			background: none;
			width: 100%;
		}

		p {
			font-size: 1em;
		}

		.col-4 {
			width: 100%;
			padding-top: 30px;
		}
	}
}

.supporters {
	height: auto;
	width: 100%;
	display: block;
	padding: 10px 0 0 0;
	height: auto;
	overflow: auto;
	background: #fff;

	h4 {
		color: #fff;
		margin-top: 40px;
	}

	.col-3 img {
		width: 80%;
		display: block;
		margin: 0 auto;
		float: none;
		padding: 0 20px;
	}

	.row:nth-child(2) {
		.col-3 img {
			padding-bottom: 0;
		}
	}

	@include mq("small", "max-width") {
		padding: 20px 0;

		h4 {
			text-align: center;
			margin-bottom: 40px;
			margin-top: 0px;
		}

		.col-3 {
			width: 50%;
			margin-left: 0;
			padding: 0;
			margin: 0;
		}

		.col-3 img {
			width: 90%;
			padding: 0 0;

		}
	}
}
