// =================================================================
// 	Mediapreview
// 	Colors
// =================================================================

$colorWhite: #FFF;
$colorType: #3B3B3B;
$colorOne: #FFD100;
$colorTwo: #2A2A2A;
$colorThree: #00B5E2;
$colorFour: #CBD7D7;
$colorFive: #C4C8C5;
$colorGrey: #A6A6A6;
