// =================================================================
// 	Mediapreview
// 	image
// =================================================================

.image {
	 @include aspect-ratio(16, 9);
	 width: 100%;
	 display: block;
	 background: #f2f2f2;
	 @include transition(all, 0.4s, ease-in-out);
	 overflow: hidden;
	 position: relative;

	 iframe {
	 	position: absolute;
	 	top: 0;
	 	left: 0;
	 	width: 100%;
	 	height: 100%;
	 }
}

.image-circle {
	width: 100%;
	border-radius: 100%;
	position: relative;
	overflow: hidden;
	background: $colorThree;

	&:after {
		content: "";
  	display: block;
  	padding-bottom: 100%;
  	background: $colorThree;
	}

	img {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.image-object {
	width: 85%;
	height: auto;
}
