// =================================================================
// 	Mediapreview
// 	Typography
// =================================================================

// 		Weights
// =================================================================
	$light:	100;
	$regular: 400;
	$bold: 600;

	$font-path: '/sass/fonts/' !default;

// 		Font Face yeah
// =================================================================

	@include font-face(Gotham-bold, fonts/gotham-bold-webfont);
	@include font-face(Gotham, fonts/gotham-book-webfont);

// 		Base Font
// =================================================================
	$base-font-family: "Gotham", sans-serif;
	$base-font-weight: $regular;
	$base-line-height: 1.4;

// 		Headings
// =================================================================

body {
	font-family: $base-font-family;
	font-size: 18px;

	@include mq("medium", "max-width") {
		font-size: 18px;
	}

	@include mq("small", "max-width") {
		font-size: 17px;
	}

	@include mq("extra-small", "max-width") {
		font-size: 16px;
	}

	@include mq("nano", "max-width") {
		font-size: 16px;
	}
}

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.4;
  font-family: "Gotham-bold", sans-serif;
}

.en {

	h1, h2, h3, h4 {
		font-weight: normal;
	}

}

h1 {
  	 font-size: 1.9em
}

h2 {
	font-size: 1.44em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
	font-family: "Gotham", sans-serif;
}

h5 {
	font-size: 1em;
	display: block;
	padding: 10px 15px;
	border: 1px solid #fff;
	color: #fff;
	width: intrinsic;
	max-width: 140px;
	opacity: 1;
	border-radius: 2px;
}

h5.underline {
	border-bottom: 1px solid #ddd;
}

p {
	color: $colorType;
	line-height: 1.5em;
	padding: 0.4em 0 0.4em 0;
}

ul li {
	color: $colorType;
}

p.small {
	font-size: 0.8em;
	opacity: 0.2;
	line-height: 1.6em;
	margin-top: 20px;
}

p.large {
	font-size: 1.2em;
	line-height: 1.3;
	color: #3F3F3F;
}

span.bold {
	font-family: "Gotham-bold", sans-serif;
}

ol, ul {
	padding: 0.3em 0 0.3em 0;
}

li {
	margin: 0.3em 0 0.3em;
}

ol li {
	list-style-type: decimal;
}

ul li {
	list-style-type: disc;
}

span {
	color: $colorOne;
}

small, .font_small {font-size: 0.8em;}
